<div class="finances-container">
  <div class="cash">
    <span class="item-title">{{localize "TWODSIX.Actor.Finances.CASH_ON_HAND"}}</span>
    <input name="data.finances.cash" type="text" value="{{data.finances.cash}}" placeholder="0"/>
  </div>

  <div class="pension">
    <span class="item-title">{{localize "TWODSIX.Actor.Finances.PENSION"}}</span>
    <input name="data.finances.pension" type="text" value="{{data.finances.pension}}" placeholder="0"/>
  </div>

  <div class="debt">
    <span class="item-title">{{localize "TWODSIX.Actor.Finances.DEBT"}}</span>
    <input name="data.finances.debt" type="text" value="{{data.finances.debt}}" placeholder="0"/>
  </div>

  <div class="ship-payments">
    <span class="item-title">{{localize "TWODSIX.Actor.Finances.SHIP_PAYMENTS_MONTHLY"}}</span>
    <input name="data.finances.payments" type="text" value="{{data.finances.payments}}" placeholder="0"/>
  </div>

  <div class="living-costs">
    <span class="item-title">{{localize "TWODSIX.Actor.Finances.LIVING_COSTS"}}</span>
    <input name="data.finances.livingCosts" type="text" value="{{data.finances.livingCosts}}" placeholder="0"/>
  </div>

  <div class="financial-notes"><span class="item-title">{{localize "TWODSIX.Actor.Finances.FINANCIAL_NOTES"}}</span>
    {{{editor content=data.finances.financial-notes target="data.finances.financial-notes" button=true owner=owner editable=editable}}}
  </div>
</div>
