
  {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
  use both the "grid" and "grid-Ncol" class where "N" can be any number
  from 1 to 12 and will create that number of columns.  --}}

  <div class="skills grid grid-2col">
    <button class="flexrow flex-group-center toggle-skills">
      {{#if @root.options.hideUntrainedSkills}}
      Hide Untrained
      {{else}}
      Show Untrained
      {{/if}}
    </button>


    <div class="skills-joat"></div>
    <label for="joat" class="flex3 resource-label">Jack of All Trades</label>
    <span class="flex4">
            <i class="fa fa-arrow-circle-down downgrade-joat downgrade-joat-{{data.jackofalltrades.value}}"></i>
            <i class="fa fa-arrow-circle-up upgrade-joat upgrade-joat-{{data.jackofalltrades.value}}"></i>
            {{data.jackofalltrades.value}}
          </span></div>



  <div class="skills grid grid-4col">

    {{#each data.skills as |skill key|}}

    {{#if (shouldShowSkill skill @root.options.hideUntrainedSkills)}}

    <div class="skill flexrow flex-group-center trained-{{skill.trained}}">

      <label for="data.skills.{{key}}.value" class="flex3 resource-label skill-{{skill.trained}}">{{skill.label}}</label>

      <select class="select-mod" name="data.skills.{{key}}.characteristic" value={{skill.characteristic}} >
        {{#select skill.characteristic}}
        <option value="strength" for="skill-modifier">STR</option>
        <option value="dexterity" for="skill-modifier">DEX</option>
        <option value="endurance" for="skill-modifier">END</option>
        <option value="intellect" for="skill-modifier">INT</option>
        <option value="education" for="skill-modifier">EDU</option>
        <option value="social" for="skill-modifier">SOC</option>
        <option value="psionics" for="skill-modifier">PSI</option>
        {{/select}}
      </select>

      <span class="skill-arrows flex1">

                <i data-label="{{key}}" class="fa fa-arrow-circle-down downgrade-skill-{{skill.trained}} downgrade-skill"></i>
                <i data-label="{{key}}" class="fa fa-arrow-circle-up upgrade-skill{{skill.value}} upgrade-skill"></i>

                {{data.jackofalltrades.value}}

              </span>

      <span class="skill-output" class="flex1 skill-mod"
      >{{numberFormat (getSkillValueWithJoat skill @root.data.jackofalltrades) decimals=0 sign=true}}
                <img data-label="{{skill.label}}" class="rollable" data-roll="2d6+{{getSkillValueWithJoat skill @root.data.jackofalltrades}}+{{skill.mod}}" src="./systems/twodsix/assets/d6-icon.svg"/>
              </span>

    </div>
    {{/if}}
    {{/each}}
  </div>

