<div class="info-container">
  <div class="char-description">
    Description:
    {{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}}
  </div>
  <div class="char-bio">
    Bio:
    {{{editor content=data.bio target="data.bio" button=true owner=owner editable=editable}}}
  </div>
  <div class="char-contacts">
    Contacts:
    {{{editor content=data.contacts target="data.contacts" button=true owner=owner editable=editable}}}
  </div>
  <div class="char-allies">
    Allies:
    {{{editor content=data.allies target="data.allies" button=true owner=owner editable=editable}}}
  </div>
  <div class="char-enemies">
    Enemies:
    {{{editor content=data.enemies target="data.enemies" button=true owner=owner editable=editable}}}
  </div>
</div>