{{!-- Sheet Body --}}
<div class="character-tabs-info sheet-body">

  {{!-- Sheet Tab Navigation --}}
  <div class="character-subtabs">
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item equiped-tab" data-tab="equiped">Equiped</a>
      <a class="item storage-tab" data-tab="storage">Storage</a>
      <a class="item finances-tab" data-tab="finances">Finances</a>
    </nav>
  </div>

  {{!-- Equiped Tab --}}
  <div class="tab equiped" data-group="primary" data-tab="equiped">
    {{> "systems/twodsix/templates/actors/parts/actor-items-equiped.html"}}
  </div>

  {{!-- Storage Items Tab --}}
  <div class="tab storage" data-group="primary" data-tab="storage">
    {{> "systems/twodsix/templates/actors/parts/actor-items-storage.html"}}
  </div>

  {{!-- Finances Tab --}}
  <div class="tab finances" data-group="primary" data-tab="finances">
    {{> "systems/twodsix/templates/actors/parts/actor-items-finances.html"}}
  </div>
</div>