<div class="general-items">
  <ol class="items-list">
      <li class="item flexrow item-header">
        <div class="item-image"></div>
        <div class="item-name">Name</div>
        <div class="item-controls">
          <a class="item-control item-create" title="Create item" data-type="equipment"><i class="fas fa-plus"></i> Add item</a>
        </div>
      </li>
 
  {{#each actor.gear as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-grid">  
        <h4 class="item-name">{{item.name}}</h4>
        <h4 class="item-name">{{item.techlevel}}</h4>
        <h4 class="item-name">{{item.quantity}}</h4>
        <h4 class="item-name">{{item.weight}}</h4>
        <h4 class="item-type">{{item.type}}</h4>
          <div class="item-controls">
              <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </li>
  {{/each}}

  
  </ol>
</div>