root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
ij_html_quote_style = double
ij_any_space_after_colon = true

[*.md]
# do not remove any whitespace characters preceding newline characters
trim_trailing_whitespace = false
