# IDE
.idea/
.vs/
*.iml
/.vscode
icons/\!dox/
/node_modules/
.DS_Store
**.env
npm-debug.log
coverage/
debug/
docs/
node_modules/
dist/

#This project
foundryconfig.json
foundry.js
foundry-esm.js
foundry.mjs
foundry/license.json
foundry/foundry*vtt*
foundry/foundry*app*
foundry/foundry*data*
foundry/FoundryVTT-Node-*
sample_data/local/*
!sample_data/local/.gitkeep
client.mjs
