# IDE
.idea/
.vs/
*.iml
/.vscode
icons/\!dox/
/node_modules/
.DS_Store
**.env
npm-debug.log
coverage/
debug/
docs/
node_modules/
dist/

#This project
foundryconfig.json
foundry.js
foundry/foundryvtt
foundry/license.json
foundry/foundry_dev_data
sample_data/local/*
!sample_data/local/.gitkeep
