<form class="{{cssClass}}" autocomplete="off">
  <div class="item-sheet">
    {{> "systems/twodsix/templates/items/parts/common-parts.html"}}

    <div class="item-armor">
      <label for="data.armor" class="resource-label">{{localize "TWODSIX.Items.Armor.Armor"}}</label>
      <input class="form-input" id="data.armor" type="text" name="data.armor" value="{{data.armor}}" data-dtype="Number"/>
    </div>

    <!-- This is to handle armors like reflec with 0/14. I.e. put the 14 here. -->
    <div class="item-secondaryArmor">
      <label for="data.secondaryArmor.value" class="resource-label">{{localize "TWODSIX.Items.Armor.SecondaryArmor"}}</label>
      <input class="form-input" id="data.secondaryArmor.value" type="text" name="data.secondaryArmor.value" value="{{data.secondaryArmor.value}}" data-dtype="Number"/>
    </div>

    <div class="item-radiationProtection">
      <label for="data.radiationProtection.value" class="resource-label">{{localize "TWODSIX.Items.Armor.RadProt"}}</label>
      <input class="form-input" id="data.radiationProtection.value" type="text" name="data.radiationProtection.value" value="{{data.radiationProtection.value}}" data-dtype="Number"/>
    </div>

    <div class="item-qty">
      <label for="data.quantity" class="resource-label">{{localize "TWODSIX.Items.Equipment.Quantity"}}</label>
      <input class="form-input" id="data.quantity" type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
    </div>

    <div class="item-weight">
      <label for="data.weight" class="resource-label">{{localize "TWODSIX.Items.Equipment.Weight"}}</label>
      <input class="form-input" id="data.weight" type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
    </div>

    <div class="item-powered">
      <span class="resource-label">{{localize "TWODSIX.Items.Armor.IsPowered"}}</span>
      <input type="checkbox" class="checkbox" name="data.isPowered" {{checked data.isPowered}} data-dtype="Boolean" />
    </div>

    <div class="item-descr">
      <span class="resource-label">{{localize "TWODSIX.Items.Equipment.Description"}}</span>
      <div contenteditable="true" data-edit="data.description" >{{{data.description}}}</div>
    </div>
    {{> "systems/twodsix/templates/items/parts/reference-footer.html"}}
    {{> "systems/twodsix/templates/items/parts/consumables-part.html"}}
    {{> "systems/twodsix/templates/items/parts/useConsumableForRoll.html"}}
  </div>
</form>
