<form class="{{cssClass}}" autocomplete="off">
  <div class="item-sheet">
    {{> "systems/twodsix/templates/items/parts/common-parts.html"}}

    <div class="item-armor">
      <label for="data.armor" class="resource-label">{{localize "TWODSIX.Items.Armor.Armor"}}
        <input id="data.armor" type="text" name="data.armor" value="{{data.armor}}" data-dtype="Number"/>
      </label>
    </div>

    <div class="item-qty">
      <label for="data.quantity" class="resource-label">{{localize "TWODSIX.Items.Equipment.Quantity"}}
        <input id="data.quantity" type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
      </label>
    </div>

    <div class="item-weight">
      <label for="data.weight" class="resource-label">{{localize "TWODSIX.Items.Equipment.Weight"}}
        <input id="data.weight" type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
      </label>
    </div>

    <div class="item-short">
      <label for="data.shortdescr" class="resource-label">{{localize "TWODSIX.Items.Equipment.ShortDescription"}}
        <input id="data.shortdescr" type="text" name="data.shortdescr" value="{{data.shortdescr}}"/>
      </label>
    </div>

    <div class="item-descr">
      <span class="resource-label">{{localize "TWODSIX.Items.Equipment.Description"}}</span>
      <div contenteditable="true" data-edit="data.description">{{{data.description}}}</div>
    </div>
  </div>
</form>
