<form class="{{cssClass}}" autocomplete="off">
  <div class="item-sheet">
    {{> "systems/twodsix/templates/items/parts/common-parts.html"}}

    <div class="item-data">
      <label class="resource-label">{{localize "TWODSIX.Items.Equipment.Quantity"}}</label>
      <input class="form-input" id="data.quantity" type="number" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
    </div>

    <div class="item-data">
      <label class="resource-label">{{localize "TWODSIX.Items.Consumable.ArmorPiercing"}}</label>
      <input class="form-input" id="data.armorPiercing" type="number" name="data.armorPiercing" value="{{data.armorPiercing}}" data-dtype="Number" step ="1" oninput="this.value = Math.round(this.value);"/>
    </div>

    <div class="item-data">
      <label class="resource-label">{{localize "TWODSIX.Items.Consumable.Count"}}</label>
        <div>
          <input id="data.currentCount" class="form-consumable-count" name="data.currentCount" type="number" value="{{data.currentCount}}" data-dtype="Number"/>
          /
          <input id="data.max" class="form-consumable-count" name="data.max" type="number" value="{{data.max}}" data-dtype="Number"/>
        </div>
    </div>
    <div class="item-data">
      <label class="resource-label">{{localize "TWODSIX.Items.Consumable.Subtype"}}</label>
        <select name="data.subtype" value={{data.subtype}}>
          {{#select data.subtype}}
          {{#each data.config.CONSUMABLES as |consumable|}}
          <option value="{{consumable}}">{{twodsix_localizeConsumable consumable}}</option>
          {{/each}}
          {{/select}}
        </select>
    </div>

    <div class="item-data">
      <label class="resource-label">{{localize "TWODSIX.Items.Equipment.Weight"}}</label>
      <input class="form-input" id="data.weight" type="number" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
    </div>

    <div class="item-descr">
      <span class="resource-label">{{localize "TWODSIX.Items.Equipment.Description"}}</span>
      <div contenteditable="true" data-edit="data.description">{{{data.description}}}</div>
    </div>
    {{> "systems/twodsix/templates/items/parts/reference-footer.html"}}
    {{> "systems/twodsix/templates/items/parts/consumables-part.html"}}
  </div>
</form>
