<form class="{{cssClass}} item-class" autocomplete="off">
  <div class="item-sheet">
    {{> "systems/twodsix/templates/items/parts/common-parts.html"}}

    <div class="item-data">
      <label class="resource-label">{{localize "TWODSIX.Items.Consumable.Subtype"}}</label>
        <select name="system.subtype">
          {{selectOptions config.CONSUMABLES selected = system.subtype localize = true}}
        </select>
    </div>

    <div class="item-data">
      <label class="resource-label">{{localize "TWODSIX.Items.Equipment.isAttachment"}}</label>
      <input type="checkbox" class="checkbox" name="system.isAttachment" {{checked system.isAttachment}} data-dtype="Boolean" />
    </div>

    <div class="item-data">
      <label class="resource-label">{{localize "TWODSIX.Items.Equipment.Quantity"}}</label>
      <input class="form-input" id="system.quantity" type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
    </div>

    {{#iff system.subtype "===" "software"}}
    <div class="item-data">
      <label class="resource-label">{{localize "TWODSIX.Items.Consumable.Bandwidth"}}</label>
      <input class="form-input" id="system.bandwidth" type="number" name="system.bandwidth" value="{{system.bandwidth}}" data-dtype="Number"/>
    </div>

    <div class="item-data">
      <label class="resource-label">{{localize "TWODSIX.Items.Consumable.SoftwareActive"}}</label>
      <input type="checkbox" class="checkbox" name="system.softwareActive" {{checked system.softwareActive}} data-dtype="Boolean" />
    </div>
    {{/iff}}

    {{#iff system.subtype "===" "processor"}}
    <div class="item-data">
      <label class="resource-label">{{localize "TWODSIX.Items.Computer.ProcessingPower"}}</label>
      <input class="form-input" id="system.bandwidth" type="number" name="system.bandwidth" value="{{system.bandwidth}}" data-dtype="Number"/>
    </div>
    {{/iff}}

    {{#unless system.isAttachment}}
      <div class="item-data">
        <label class="resource-label">{{localize "TWODSIX.Items.Consumable.ArmorPiercing"}}</label>
        <input class="form-input" id="system.armorPiercing" type="number" name="system.armorPiercing" value="{{system.armorPiercing}}" data-dtype="Number" step ="1" oninput="this.value = Math.round(this.value);"/>
      </div>

      <div class="item-data">
        <label class="resource-label">{{localize "TWODSIX.Items.Consumable.Count"}}</label>
          <div>
            <input id="system.currentCount" class="form-consumable-count" name="system.currentCount" type="number" value="{{system.currentCount}}" data-dtype="Number"/>
            /
            <input id="system.max" class="form-consumable-count" name="system.max" type="number" value="{{system.max}}" data-dtype="Number"/>
          </div>
      </div>
    {{/unless}}

    <div class="item-data">
      <label class="resource-label">{{localize "TWODSIX.Items.Equipment.Weight"}}</label>
      <input class="form-input" id="system.weight" type="number" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
    </div>

    <div class="item-data">
      <label class="resource-label">{{localize "TWODSIX.Items.Equipment.BonusDamage"}}</label>
      <input class="form-input" id="system.bonusDamage" type="text" name="system.bonusDamage" value="{{system.bonusDamage}}" data-dtype="String"/>
    </div>

    {{#if settings.ShowDamageType}}
      <div class="item-damageType">
        <label class="resource-label">{{localize "TWODSIX.Items.Weapon.damageType"}}</label>
        <select name="system.damageType">{{selectOptions settings.damageTypes selected=system.damageType}}</select>
      </div>
    {{/if}}

    <div class="item-descr">
      <span class="resource-label">{{localize "TWODSIX.Items.Equipment.Description"}}</span>
      <div contenteditable="true" data-edit="system.description">{{{system.description}}}</div>
    </div>
    {{> "systems/twodsix/templates/items/parts/reference-footer.html"}}
    {{> "systems/twodsix/templates/items/parts/consumables-part.html"}}
  </div>
</form>
