<form class="{{cssClass}}" autocomplete="off">
  <div class="item-page">
    
    <label for="item.name" class="resource-label">Item Name</label>
    <input id="data.name" name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
  
    <label for="data.techlevel" class="resource-label">TL</label>
    <input id="data.techlevel" name="techlevel" type="text" value="{{item.techlevel}}" data-dtype="Number"/>
  
    <label for="data.quantity" class="resource-label">Quantity</label>
    <input id="data.quantity" name="quantity" type="text" value="{{item.quantity}}" data-dtype="Number"/>
  
    <label for="data.weight" class="resource-label">Weight</label>
    <input id="data.weight" name="weight" type="text" value="{{item.weight}}" data-dtype="Number"/>

    <label for="item.type" class="resource-label">Item Type</label>
    <select name="type" value={{item.type}} >
        {{#select item.type}}
        <option value="equipment">Equipment</option>
        <option value="weapon">Weapon</option>
        <option value="armor">Armor</option>
        <option value="augment">Augment</option>
        {{/select}}
      </select>

    <label for="data.description" class="resource-label">Item description</label>
    <textarea id="item.description" type="text" name="description" for="item.description" value="{{item.description}}"></textarea>
  </div>
</form>
