<form class="{{cssClass}}" autocomplete="off">
    <div class="item-sheet">
        <div class="item-name">
            <label for="data.name" class="resource-label">Position name
                <input id="data.name" type="text" name="name" value="{{name}}" />
            </label>
        </div>
        <div class="item-name">
            <label for="data.order" class="resource-label">Order
                <input id="data.order" type="number" name="data.order" value="{{data.order}}" data-dtype="Number" />
            </label>
        </div>
        <div class="form-section">
            Actors: <br>
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>Name</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {{#each data.actors as |actor|}}
                    <tr class="crew_position-actor">
                        <td><input type="radio" class="actor-radio" name="actor-radio" data-id="{{actor.id}}"></td>
                        <td><img src="{{actor.data.img}}" width="20" height="20"> {{actor.name}}</td>
                        <td class="centre">
                            <a class="crew_position-actor-delete" data-type="actor" data-id="{{actor.id}}"
                                title='Delete actor'>
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="form-section">
            Actions: <br>
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {{#each data.actions as |action|}}
                    <tr class="crew_position-action">
                        <td class="execute-action" data-id="{{action.id}}"><img src="{{action.data.img}}" width="20"
                                height="20">{{action.name}}</td>
                        <td class="centre">
                            <a class="crew_position-action-delete" data-type="action" data-id="{{action.id}}"
                                title='Delete action'>
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="form-section">
            Components: <br>
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {{#each data.components as |component|}}
                    <tr class="crew_position-component">
                        <td><img src="{{component.data.img}}" width="20" height="20"> {{component.name}}</td>
                        <td class="centre">
                            <a class="crew_position-component-delete" data-type="component" data-id="{{component.id}}"
                                title='Delete component'>
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</form>