<form class="{{cssClass}}" autocomplete="off">
  <div class="item-sheet">
    <div class="item-data">
      <label for="name" class="resource-label">{{localize "TWODSIX.Ship.PositionName"}}</label>
      <input class="form-input" id="name" type="text" name="name" value="{{name}}" />
    </div>
    <div class="item-data">
      <label for="system.order" class="resource-label">{{localize "TWODSIX.Ship.Order"}}</label>
      <input class="form-input" id="system.order" type="number" name="system.order" value="{{system.order}}" data-dtype="Number" />
    </div>
    {{#if hasShipActor}}
    <div class="form-section">
      {{localize "TWODSIX.Ship.Travellers"}}: <br>
      <table>
        <thead>
          <tr>
            <td></td>
            <td>{{localize "TWODSIX.Actor.Items.Name"}}</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          {{#each actors as |actor|}}
          <tr class="ship-position-details-actor" data-id="{{actor.id}}" data-drag="actor">
            <td><img src="{{actor.img}}" width="20" height="20"></td>
            <td>{{actor.name}}</td>
            <td class="centre">
              <a class="ship-position-details-actor-delete" data-id="{{actor.id}}" data-tooltip='{{localize "TWODSIX.Ship.RemoveTraveller"}}'>
                <i class="fa-solid fa-trash"></i>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{/if}}
    <div class="form-section">
      {{localize "TWODSIX.Ship.Actions"}}: <br>
      <table>
        <thead>
          <tr>
            <td>{{localize "TWODSIX.Ship.Order"}}</td>
            <td>{{localize "TWODSIX.Ship.Name"}}</td>
            <td>{{localize "TWODSIX.Ship.MacroSkill"}}</td>
            <td>{{localize "TWODSIX.Ship.Component"}}</td>
            <td>{{localize "TWODSIX.Ship.ActionType"}}</td>
            <td class="centre">
              <a class="ship-position-details-action-create" data-tooltip='{{localize "TWODSIX.Ship.CreateAction"}}'>
                <i class="fa-solid fa-plus"></i>
              </a>
            </td>
          </tr>
        </thead>
        <tbody>
          {{#each sortedActions as |action|}}
          <tr class="ship-position-details-action">
            <td><input type="number" style="width: 15px;" name="system.actions.{{action.id}}.order"
                value="{{action.order}}" data-dtype="Number"></td>
            <td data-id="{{action.id}}">
              <img src="{{action.icon}}" data-edit="system.actions.{{action.id}}.icon" width="24" height="24" style="vertical-align: middle;">
              <input style="width: calc(100% - 30px); vertical-align: middle;" type="text" name="system.actions.{{id}}.name" value="{{action.name}}">
            </td>
            <td>
              <input type="text" placeholder="{{localize action.placeholder}}" name="system.actions.{{id}}.command"
                value="{{action.command}}" data-tooltip="{{localize action.tooltip}}">
            </td>
            <td>
              <select style="width: calc(100% - 2px);" name="system.actions.{{id}}.component" {{#iff action.type "===" "chatMessage"}} disabled {{/iff}}>
                <option value="">{{localize TWODSIX.Ship.None}}</option>
                {{#each ../nonCargoComponents as |component|}}
                  <option {{#iff action.component '===' component.id}} selected {{/iff}} value="{{component.id}}">{{component.name}}</option>
                {{/each}}
              </select>
            </td>
            <td>
              <select style="width: calc(100% - 2px);" name="system.actions.{{action.id}}.type">
                {{selectOptions ../availableActions selected = action.type labelAttr = "name" localize=true}}
              </select>
            </td>
            <td class="centre">
              <a class="ship-position-details-action-delete" data-id="{{action.id}}" data-tooltip='{{localize "TWODSIX.Ship.DeleteAction"}}'>
                <i class="fa-solid fa-trash"></i>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
</form>
