<form class="{{cssClass}}" autocomplete="off">
  <div class="skill-container-small">
    <div class="item-name">
      <label for="data.name" class="resource-label">{{localize "TWODSIX.Items.Skills.SkillName"}}
        <input id="data.name" name="name" type="text" value="{{item.name}}"/></label>
    </div>
    <div class="item-lvl">
      <label for="data.value" class="resource-label">{{localize "TWODSIX.Items.Skills.Level"}}
        <input id="data.value" type="text" name="data.value" value="{{data.value}}" data-dtype="Number"/></label>
    </div>
    <div class="item-type centre">
      <label for="data.characteristic" class="resource-label">{{localize "TWODSIX.Items.Skills.Modifier"}}</label>
      <select class="select-mod" name="data.characteristic" value={{characteristic}}>
        {{#select data.characteristic}}
        <option value="strength" for="skill-modifier">{{localize "TWODSIX.Items.Skills.STR"}}</option>
        <option value="dexterity" for="skill-modifier">{{localize "TWODSIX.Items.Skills.DEX"}}</option>
        <option value="endurance" for="skill-modifier">{{localize "TWODSIX.Items.Skills.END"}}</option>
        <option value="intelligence" for="skill-modifier">{{localize "TWODSIX.Items.Skills.INT"}}</option>
        <option value="education" for="skill-modifier">{{localize "TWODSIX.Items.Skills.EDU"}}</option>
        <option value="socialStanding" for="skill-modifier">{{localize "TWODSIX.Items.Skills.SOC"}}</option>
        <option value="psionicStrength" for="skill-modifier">{{localize "TWODSIX.Items.Skills.PSI"}}</option>
        {{/select}}
      </select>
    </div>
    <span class="total-output flex1 skill-mod"></span>

    <div class="item-short">
      <label for="data.shortdescr" class="resource-label">{{localize "TWODSIX.Items.Equipment.ShortDescription"}}
        <input id="data.shortdescr" type="text" name="data.shortdescr" value="{{data.shortdescr}}"/>
      </label>
    </div>

    <div class="item-descr">
      <span class="resource-label">{{localize "TWODSIX.Items.Equipment.Description"}}</span>
      <div contenteditable="true" data-edit="data.description">{{{data.description}}}</div>
    </div>
  </div>
</form>


