<form class="{{cssClass}} item-class" autocomplete="off">
  <div class="item-sheet">
    {{> "systems/twodsix/templates/items/parts/common-parts.html"}}

    <div class="item-qty">
      <label for="system.quantity" class="resource-label">{{localize "TWODSIX.Items.Equipment.Quantity"}}</label>
      <input class="form-input" type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
    </div>

    <div class="item-weight">
      <label for="system.weight" class="resource-label">{{localize "TWODSIX.Items.Equipment.Weight"}} </label>
      <input class="form-input" type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
    </div>

    <div class="item-bonus">
      <label for="system.bonus" class="resource-label">{{localize "TWODSIX.Items.Tool.Bonus"}} </label>
      <input class="form-input" type="text" name="system.bonus" value="{{system.bonus}}" data-dtype="Number"/>
    </div>

    <div class="item-short">
      <label for="system.shortdescr" class="resource-label">{{localize "TWODSIX.Items.Equipment.ShortDescription"}}</label>
      <input class="form-input" type="text" name="system.shortdescr" value="{{system.shortdescr}}"/>
    </div>

    <div class="item-descr">
      <span class="resource-label">{{localize "TWODSIX.Items.Equipment.Description"}}</span>
      <div contenteditable="true" data-edit="system.description">{{{system.description}}}</div>
    </div>
    {{> "systems/twodsix/templates/items/parts/reference-footer.html"}}
    {{> "systems/twodsix/templates/items/parts/consumables-part.html"}}
    {{> "systems/twodsix/templates/items/parts/useConsumableForRoll.html"}}
    {{#if settings.useItemAEs}}{{> "systems/twodsix/templates/items/parts/footer.html"}}{{/if}}
  </div>
</form>
