<form class="{{cssClass}} item-class" autocomplete="off">
  <div class="skill-container-small">
    <div>
      <table>
        <tr>
          <th>
            <div class="item-img">
              <img class="item-img" src="{{img}}" data-tooltip="{{img}}" alt="{{name}}" data-edit="img" width="128"
                   height="128"/></div>
          </th>
          <th>
            <div class="item-name">
              <label for="name">{{localize "TWODSIX.Items.Traits.TraitName"}}</label>
              <input name="name" type="text" value="{{name}}"/>
            </div>
          </th>
        </tr>
      </table>
    </div>
    <div class="item-lvl">
      <label for="system.value" class="resource-label">{{localize "TWODSIX.Items.Skills.Level"}}</label>
      <input class="form-input" type="text" name="system.value" value="{{system.value}}" data-dtype="Number"/>
    </div>
    <div class="item-prereq">
      <label for="system.prereq" class="resource-label">{{localize "TWODSIX.Items.Traits.Prerequisite"}}</label>
      <input class="form-input" type="text" name="system.prereq" value="{{system.prereq}}"/>
    </div>
    <div class="item-short">
      <label for="system.shortdescr" class="resource-label">{{localize "TWODSIX.Items.Equipment.ShortDescription"}}</label>
      <input class="form-input" type="text" name="system.shortdescr" value="{{system.shortdescr}}"/>
    </div>

    <div class="item-descr">
      <span class="resource-label">{{localize "TWODSIX.Items.Equipment.Description"}}</span>
      <div contenteditable="true" data-edit="system.description">{{{system.description}}}</div>
    </div>
    {{> "systems/twodsix/templates/items/parts/reference-footer.html"}}
    {{#if settings.useItemAEs}}{{> "systems/twodsix/templates/items/parts/footer.html"}}{{/if}}
  </div>
</form>
