<form class="{{cssClass}}" autocomplete="off"
      data-item-id="{{item._id}}"
      data-has-owner="{{hasOwner}}"
      data-actor-id="{{actor._id}}">
  <div class="item-sheet">
    {{> "systems/twodsix/templates/items/parts/common-parts.html"}}

    <div class="item-damage">
      <label for="data.damage" class="resource-label">{{localize "TWODSIX.Items.Weapon.Damage"}}
        <input id="data.damage" type="text" name="data.damage" value="{{data.damage}}">
      </label>
    </div>

    <div class="item-range">
      <label for="data.range" class="resource-label">{{localize "TWODSIX.Items.Weapon.Range"}}
        <input id="data.range" type="text" name="data.range" value="{{data.range}}">
      </label>
    </div>

    <div class="item-ammo">
      <label for="data.ammo" class="resource-label">{{localize "TWODSIX.Items.Weapon.Ammo"}}
        <input id="data.ammo" type="text" name="data.ammo" value="{{data.ammo}}" data-dtype="Number"/>
      </label>
    </div>

    <div class="item-qty">
      <label for="data.quantity" class="resource-label">{{localize "TWODSIX.Items.Equipment.Quantity"}}
        <input id="data.quantity" type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
      </label>
    </div>

    <div class="item-weight">
      <label for="data.weight" class="resource-label">{{localize "TWODSIX.Items.Equipment.Weight"}}
        <input id="data.weight" type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
      </label>
    </div>

    <div class="item-lawLevel">
      <span class="resource-label">{{localize "TWODSIX.Items.Weapon.lawLevel"}}</span>
      <div contenteditable="true" data-edit="data.lawLevel">{{{data.lawLevel}}}</div>
    </div>

    <div class="item-rangeBand">
      <span class="resource-label">{{localize "TWODSIX.Items.Weapon.rangeBand"}}</span>
      <div contenteditable="true" data-edit="data.rangeBand">{{{data.rangeBand}}}</div>
    </div>

    <div class="item-weaponType">
      <span class="resource-label">{{localize "TWODSIX.Items.Weapon.weaponType"}}</span>
      <div contenteditable="true" data-edit="data.weaponType">{{{data.weaponType}}}</div>
    </div>

    <div class="item-damageType">
      <span class="resource-label">{{localize "TWODSIX.Items.Weapon.damageType"}}</span>
      <div contenteditable="true" data-edit="data.damageType">{{{data.damageType}}}</div>
    </div>

    <div class="item-rateOfFire">
      <span class="resource-label">{{localize "TWODSIX.Items.Weapon.rateOfFire"}}</span>
      <div contenteditable="true" data-edit="data.rateOfFire">{{{data.rateOfFire}}}</div>
    </div>

    <div class="item-recoil">
      <span class="resource-label">{{localize "TWODSIX.Items.Weapon.recoil"}}</span>
      <div contenteditable="true" data-edit="data.recoil">{{{data.recoil}}}</div>
    </div>

    <div class="item-short">
      <label for="data.shortdescr" class="resource-label">{{localize "TWODSIX.Items.Equipment.ShortDescription"}}
        <input id="data.shortdescr" type="text" name="data.shortdescr" value="{{data.shortdescr}}"/>
      </label>
    </div>

    <div class="item-descr">
      <span class="resource-label">{{localize "TWODSIX.Items.Equipment.Description"}}</span>
      <div contenteditable="true" data-edit="data.description">{{{data.description}}}</div>
    </div>
  </div>
</form>
