<form class="{{cssClass}}" autocomplete="off"
      data-item-id="{{item._id}}"
      data-has-owner="{{hasOwner}}"
      data-actor-id="{{actor._id}}">
  <div class="item-sheet">
    {{> "systems/twodsix/templates/items/parts/common-parts.html"}}
    <div class="form-section">
      <label class="resource-label">{{localize "TWODSIX.Items.Weapon.MagazineCost"}}
        <input type="number" name="data.magazineCost" value="{{data.magazineCost}}">
      </label>
    </div>

    <div class="item-damage">
      <label class="resource-label">{{localize "TWODSIX.Items.Weapon.Damage"}}
        <input type="text" name="data.damage" value="{{data.damage}}">
      </label>
    </div>

    <div class="item-range">
      {{#if data.settings.ShowRangeBandAndHideRange}}
      <label class="resource-label">{{localize "TWODSIX.Items.Weapon.rangeBand"}}
        <input type="text" name="data.rangeBand" value="{{data.rangeBand}}">
      </label>
      {{else}}
      <label class="resource-label">{{localize "TWODSIX.Items.Weapon.Range"}}
        <input type="text" name="data.range" value="{{data.range}}">
      </label>
      {{/if}}
    </div>

    <div class="item-ammo">
      <label class="resource-label">{{localize "TWODSIX.Items.Weapon.Ammo"}}
        <input type="text" name="data.ammo" value="{{data.ammo}}">
      </label>
    </div>

    <div class="item-qty">
      <label class="resource-label">{{localize "TWODSIX.Items.Equipment.Quantity"}}
        <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
      </label>
    </div>

    <div class="item-weight">
      <label class="resource-label">{{localize "TWODSIX.Items.Equipment.Weight"}}
        <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
      </label>
    </div>

    {{#if data.settings.ShowLawLevel}}
    <div class="item-lawLevel">
      <span class="resource-label">{{localize "TWODSIX.Items.Weapon.lawLevel"}}</span>
      <div contenteditable="true" data-edit="data.lawLevel">{{{data.lawLevel}}}</div>
    </div>
    {{/if}}

    {{#if data.settings.ShowWeaponType}}
    <div class="item-weaponType">
      <span class="resource-label">{{localize "TWODSIX.Items.Weapon.weaponType"}}</span>
      <div contenteditable="true" data-edit="data.weaponType">{{{data.weaponType}}}</div>
    </div>
    {{/if}}

    {{#if data.settings.ShowDamageType}}
    <div class="item-damageType">
      <span class="resource-label">{{localize "TWODSIX.Items.Weapon.damageType"}}</span>
      <div contenteditable="true" data-edit="data.damageType">{{{data.damageType}}}</div>
    </div>
    {{/if}}

    {{#if data.settings.ShowRateOfFire}}
    <div class="item-rateOfFire">
      <span class="resource-label">{{localize "TWODSIX.Items.Weapon.rateOfFire"}}</span>
      <div contenteditable="true" data-edit="data.rateOfFire">{{{data.rateOfFire}}}</div>
    </div>
    {{/if}}

    {{#if data.settings.ShowRecoil}}
    <div class="item-recoil">
      <span class="resource-label">{{localize "TWODSIX.Items.Weapon.recoil"}}</span>
      <input type="checkbox" class="checkbox" name="data.recoil" {{checked data.recoil}} data-dtype="Boolean" />
    </div>
    {{/if}}

    <div class="item-short">
      <label class="resource-label">{{localize "TWODSIX.Items.Equipment.ShortDescription"}}
        <input type="text" name="data.shortdescr" value="{{data.shortdescr}}"/>
      </label>
    </div>

    <div class="item-descr">
      <span class="resource-label">{{localize "TWODSIX.Items.Equipment.Description"}}</span>
      <div contenteditable="true" data-edit="data.description">{{{data.description}}}</div>
    </div>
    {{> "systems/twodsix/templates/items/parts/consumables-part.html"}}
    {{#if data.isOwned}}
    <div class="item-form-section">
      <label>{{localize "TWODSIX.Items.Weapon.UseAsAmmunitionForAttack"}}
        <select class="consumable-use-consumable-for-attack">
          <option value="">---</option>
          {{#select data.useConsumableForAttack}}
          {{#each data.consumableData as |consumable|}}
          <option value="{{consumable._id}}">{{consumable.name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </label>
    </div>
    {{/if}}
  </div>
</form>
