<div class="form-group form-section">
  <label>{{localize "TWODSIX.Items.Consumable.Subtype"}}
    <select class="consumable-subtype">
      {{#each consumables as |consumable|}}
        <option value="{{consumable}}">{{twodsix_localizeConsumable consumable}}</option>
      {{/each}}
    </select>
  </label>
</div>
<div class="form-group form-section">
  <label>{{localize "TWODSIX.Name"}}
    <input type="text" class="consumable-name">
  </label>
</div>
<div class="form-group form-section">
  <label>{{localize "TWODSIX.Items.Equipment.Quantity"}}
    <input type="number" class="consumable-quantity" data-dtype="Number">
  </label>
</div>
<div class="form-group form-section">
  <label>{{localize "TWODSIX.Items.Consumable.Size"}}
    <input type="number" class="consumable-max" data-dtype="Number">
  </label>
</div>
