<form>
    {{{intro}}}
    {{#if useTabbedViews}}
      <nav class="sheet-navigation tabs" data-group="primary">
        {{#each settings as |group|}}
          <a class="item active" data-tab="{{@key}}"><i class="{{twodsix_getSettingIcon @key}}"></i> {{localize (concat "TWODSIX.Settings.menuLabels." @key)}}</a>
        {{/each}}
      </nav>

      <section class="sheet-body auto-height">
        {{#each settings as |group|}}
          <div class="tab {{@key}}" data-group="primary" data-tab="{{@key}}">
            {{> "systems/twodsix/templates/misc/setting-partial.html"}}
          </div>
        {{/each}}
      </section>
    {{else}}
      {{#each settings as |group|}}
        <fieldset>
          <legend>{{localize (concat "TWODSIX.Settings.menuLabels." @key)}}</legend>
          {{> "systems/twodsix/templates/misc/setting-partial.html"}}
        </fieldset>
        <br>
      {{/each}}
    {{/if}}

    <footer class="sheet-footer flexrow">
      <button type="submit" name="submit">
          <i class="far fa-save"></i> {{localize "Save Changes"}}
      </button>
      <button name="cancel">
          <i class="fa-solid fa-circle-x"></i> {{localize "Cancel"}}
      </button>
    </footer>
</form>
