<li class="directory-item document {{@root.documentCls}} flexrow" data-entry-id="{{this._id}}" data-document-id="{{this._id}}">
  {{#if this.thumb}}
  <img class="thumbnail" title="{{this.name}}" alt="{{this.name}}" data-src="{{this.thumb}}"/>
  {{else if this.img}}
  <img class="thumbnail" title="{{this.name}}" alt="{{this.name}}" data-src="{{this.img}}"/>
  {{/if}}
  <h4 class="entry-name document-name"><a class="revised-partial"><span>{{this.name}}</span><span>{{twodsix_getTLString this}}</span></a></h4>
</li>
