<hr>
<p><strong>{{header}}</strong></p>
<pre style="font-family:monospace;white-space:pre-wrap">{{detailedSummary}}</pre>
<hr>
<pre style="font-family:monospace;white-space:pre">{{summary}}</pre>
<hr>
{{#each log}}
  <p>{{this}}</p>
{{/each}}
