<div>
  <table>
    <tr>
      <th>
        <div class="item-img">
          <img class="item-img" src="{{img}}" title="{{img}}" alt="{{name}}" data-edit="img" width="128"
               height="128"/></div>
      </th>
      <th>
        <div class="item-name">
          <label for="data.name">{{localize "TWODSIX.Items.Equipment.ItemName"}}</label>
          <input class="form-input" id="data.name" name="name" type="text" value="{{name}}"/>
        </div>
      </th>
    </tr>
  </table>
</div>

  <div class="item-type">
    <label for="type" class="resource-label">{{localize "TWODSIX.Items.Items.ItemType"}} </label>
      <select class="form-input" id="type" name="type" value={{data.type}}>
        {{#select type}}
          <option value="augment">{{localize "TWODSIX.Items.Items.AssignAugment"}}</option>
          <option value="weapon">{{localize "TWODSIX.Items.Items.AssignWeapon"}}</option>
          <option value="armor">{{localize "TWODSIX.Items.Items.AssignArmor"}}</option>
          <option value="equipment">{{localize "TWODSIX.Items.Items.AssignEquipment"}}</option>
          <option value="consumable">{{localize "TWODSIX.Items.Items.AssignConsumable"}}</option>
          <option value="tool">{{localize "TWODSIX.Items.Items.AssignTool"}}</option>
          <option value="junk">{{localize "TWODSIX.Items.Items.AssignJunk"}}</option>
          <option value="storage">{{localize "TWODSIX.Items.Items.MoveStorage"}}</option>
        {{/select}}
      </select>
  </div>

{{#if data.owner}}
    <div class="item-skill">
      <label for="data.skill" class="resource-label">{{localize "TWODSIX.Items.Equipment.AssignSkill"}}:</label>
        <select class="form-input" id="data.skill" name="data.skill" value="{{data.skill}}">
          {{#select data.skill}}
            <option value="" >None</option>
            {{#if (twodsix_hideUntrainedSkills -1)}}
            <option value="{{data.owner.data.data.untrainedSkill}}" >{{localize "TWODSIX.Actor.Skills.Untrained"}}</option>
            {{/if}}
            {{#each data.owner.items as |skill|}}
              {{#if (twodsix_filterSkills skill)}}
                {{#if (twodsix_hideUntrainedSkills skill.data.data.value)}}
                  <!-- Hiding {{name}} -->
                {{else}}
                  <option value="{{skill.id}}">{{skill.name}}</option>
                {{/if}}
              {{/if}}
            {{/each}}
          {{/select}}
        </select>
    </div>
  <div class="item-skillModifier">
    <label for="data.skillModifier"  class="resource-label">{{localize "TWODSIX.Items.Equipment.SkillModifier"}}</label>
    <input class="form-input" id="data.skillModifier" type="text" name="data.skillModifier" value="{{data.skillModifier}}"
           data-dtype="Number"/>
  </div>
  {{else}}
    <div class="item-skill">
      <label for = "data.associatedSkillName" class="resource-label">{{localize "TWODSIX.Items.Equipment.AssociatedSkillName"}}</label>
      <input class="form-input" id = "data.associatedSkillName" type="text" name="data.associatedSkillName" value="{{data.associatedSkillName}}" />
    </div>
  {{/if}}

<div class="item-tl">
  <label for="data.techLevel" class="resource-label">{{localize "TWODSIX.Items.Equipment.TL"}}</label>
  <input class="form-input" id="data.techLevel" type="text" name="data.techLevel" value="{{data.techLevel}}" data-dtype="Number"/>
</div>

<div class="item-price">
  <label for="data.price" class="resource-label">{{localize "TWODSIX.Items.Equipment.Price"}}</label>
  <input class="form-input" id="data.price" type="text" name="data.price" value="{{data.price}}" data-dtype="Number"/>
</div>
