<div class="item-sheet">
  {{> "systems/twodsix/templates/items/parts/component-parts/component-general.html"}}
  {{> "systems/twodsix/templates/items/parts/component-parts/component-displacement.html"}}
  {{> "systems/twodsix/templates/items/parts/component-parts/component-power.html"}}
  {{> "systems/twodsix/templates/items/parts/component-parts/component-attack.html"}}
  {{> "systems/twodsix/templates/items/parts/component-parts/component-price.html"}}

  <div class="item-descr">
    <span class="resource-label">{{localize "TWODSIX.Items.Equipment.Description"}}</span>
    <div contenteditable="true" data-edit="system.description">{{{system.description}}}</div>
  </div>
  {{> "systems/twodsix/templates/items/parts/reference-footer.html"}}
</div>
