<div class="item-sheet">
  {{!-- Component Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
      <a class="item active" data-tab="description"><i class="fa-solid fa-book"></i> {{ localize "TWODSIX.Items.Component.Description" }}</a>
      <a class="item" data-tab="displacement"><i class="fa-solid fa-weight-hanging"></i> {{ localize "TWODSIX.Items.Component.Displacement" }}</a>
      {{#iff system.subtype "!==" "cargo" }}<a class="item" data-tab="power"><i class="fa-solid fa-bolt"></i> {{ localize "TWODSIX.Items.Component.Power" }}</a>{{/iff}}
      <a class="item" data-tab="price"><i class="fa-solid fa-coins"></i> {{ localize "TWODSIX.Items.Component.Price" }}</a>
      {{#if (twodsix_canBePopup this)}}<a class="item" data-tab="attack"><i class="fa-solid fa-burst"></i> {{ localize "TWODSIX.Items.Weapon.Attack" }}</a>{{/if}}
  </nav>

  {{!-- Component Sheet Body --}}
  <section class="sheet-body auto-height">
    <div class="tab description" data-group="primary" data-tab="description">
      {{> "systems/twodsix/templates/items/parts/component-parts/component-general.html"}}
      <div class="item-descr">
        <span class="resource-label">{{localize "TWODSIX.Items.Equipment.Description"}}</span>
        <div contenteditable="true" data-edit="system.description">{{{system.description}}}</div>
      </div>
      {{> "systems/twodsix/templates/items/parts/reference-footer.html"}}
    </div>
    <div class="tab displacement" data-group="primary" data-tab="displacement">
      {{> "systems/twodsix/templates/items/parts/component-parts/component-displacement.html"}}
    </div>
    <div class="tab power" data-group="primary" data-tab="power">
      {{> "systems/twodsix/templates/items/parts/component-parts/component-power.html"}}
    </div>
    <div class="tab attack" data-group="primary" data-tab="attack">
      {{> "systems/twodsix/templates/items/parts/component-parts/component-attack.html"}}
    </div>
    <div class="tab price" data-group="primary" data-tab="price">
      {{> "systems/twodsix/templates/items/parts/component-parts/component-price.html"}}
    </div>
  </section>
</div>
