{{#if isOwned}}
<div class="form-section">
  {{localize "TWODSIX.Actor.Items.CONSUMABLES"}}: <br>
  <table>
    <thead>
      <tr>
        <td>{{localize "TWODSIX.Actor.Items.Name"}}</td>
        <td>{{localize "TWODSIX.Actor.Items.Subtype"}}</td>
        <td>{{localize "TWODSIX.Actor.Items.Qty"}}</td>
        <td>{{localize "TWODSIX.Actor.Items.Count"}}</td>
        <td class="centre">
          <a class="consumable-create" data-tooltip='{{localize "TWODSIX.Actor.Items.CreateItem"}}'>
            <i class="fa-solid fa-plus"></i>
          </a>
        </td>
      </tr>
    </thead>
    <tbody>
      {{#each system.consumableData as |consumable|}}
        <tr class="consumable" data-consumable-id="{{consumable.id}}">
          <td>{{consumable.name}}</td>
          <td>{{twodsix_localizeConsumable consumable.system.subtype}}</td>
          <td>{{consumable.system.quantity}}</td>
          <td>{{consumable.system.currentCount}}/{{consumable.system.max}}</td>
          <td class="centre">
            <a class="consumable-edit" data-tooltip='{{localize "TWODSIX.Actor.Items.EditItem"}}'>
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a class="consumable-delete" data-tooltip='{{localize "TWODSIX.Actor.Items.DeleteItem"}}'>
              <i class="fa-solid fa-trash"></i>
            </a>
          </td>
        </tr>
      {{/each}}
      {{#unless system.consumableData}}
      <tr>
        <td colspan="5">
          {{localize "TWODSIX.Items.Consumable.DropConsumablesHere"}}
        </td>
      </tr>
      {{/unless}}
    </tbody>
  </table>
</div>
{{#iff system.type "!==" "consumable"}}
<div class="form-section">
  {{localize "TWODSIX.Actor.Items.ATTACHMENTS"}}: <br>
  <table>
    <thead>
      <tr>
        <td>{{localize "TWODSIX.Actor.Items.Name"}}</td>
        <td>{{localize "TWODSIX.Actor.Items.Subtype"}}</td>
        <td>{{localize "TWODSIX.Actor.Items.Qty"}}</td>
        <td></td>
        <td class="centre">
          <a class="attachment-create" data-tooltip='{{localize "TWODSIX.Actor.Items.CreateItem"}}'>
            <i class="fa-solid fa-plus"></i>
          </a>
        </td>
      </tr>
    </thead>
    <tbody>
      {{#each system.attachmentData as |attachment|}}
        <tr class="consumable" data-consumable-id="{{attachment.id}}">
          <td>{{attachment.name}}</td>
          <td>{{twodsix_localizeConsumable attachment.system.subtype}}</td>
          <td>{{attachment.system.quantity}}</td>
          <td></td>
          <td class="centre">
            <a class="consumable-edit" data-tooltip='{{localize "TWODSIX.Actor.Items.EditItem"}}'>
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a class="consumable-delete" data-tooltip='{{localize "TWODSIX.Actor.Items.DeleteItem"}}'>
              <i class="fa-solid fa-trash"></i>
            </a>
          </td>
        </tr>
      {{/each}}
      {{#unless system.attachmentData}}
      <tr>
        <td colspan="5">
          {{localize "TWODSIX.Items.Consumable.DropAttachmentsHere"}}
        </td>
      </tr>
      {{/unless}}
    </tbody>
  </table>
</div>
{{/iff}}
{{/if}}
