<div>
  <table>
    <tr>
      <th>
        <div class="item-img">
          <img class="item-img" src="{{img}}" data-tooltip="{{img}}" alt="{{name}}" data-edit="img" width="128"
               height="128"/></div>
      </th>
      <th>
        <div class="item-name">
          <label for="item.name">{{localize "TWODSIX.Items.Equipment.ItemName"}}</label>
          <input class="form-input" name="name" type="text" value="{{name}}" autocomplete="off"/>
        </div>
      </th>
    </tr>
  </table>
</div>
