<div class="item-sheet">
  {{> "systems/twodsix/templates/items/parts/image-name.html"}}

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
      <a class="item active" data-tab="description"><i class="fa-solid fa-book"></i> {{ localize "TWODSIX.Items.Equipment.Description" }}</a>
      <a class="item" data-tab="modifiers"><i class="fa-solid fa-dice"></i> {{ localize "TWODSIX.Items.Weapon.Modifiers" }}</a>
      <a class="item" data-tab="attack"><i class="fa-solid fa-burst"></i> {{ localize "TWODSIX.Items.Weapon.Attack" }}</a>
      <a class="item" data-tab="magazine"><i class="fa-solid fa-battery-full"></i> {{ localize "TWODSIX.Items.Weapon.Consumables" }}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="sheet-body auto-height">
    <div class="tab description" data-group="primary" data-tab="description">
      {{> "systems/twodsix/templates/items/parts/item-type.html"}}
      <div class="item-tl">
        <label for="system.techLevel" class="resource-label">{{localize "TWODSIX.Items.Equipment.TL"}}</label>
        <input class="form-input" type="text" name="system.techLevel" value="{{system.techLevel}}" data-dtype="Number"/>
      </div>

      <div class="item-price">
        <label for="system.price" class="resource-label">{{localize "TWODSIX.Items.Equipment.Price"}}</label>
        <input class="form-input" type="text" name="system.price" value="{{system.price}}" data-dtype="Number"/>
      </div>
      {{#if owner}}
        {{#iff owner.type "!==" "ship"}}
        <div class="item-type">
          <label for="system.equipped" class="resource-label">{{localize "TWODSIX.Actor.Items.EquippedLocation"}}:</label>
            <select class="form-input" name="system.equipped" >
              {{selectOptions config.EQUIPPED_STATES selected=system.equipped localize=true inverted=false}}
            </select>
        </div>
        {{/iff}}
      {{/if}}

      {{> "systems/twodsix/templates/items/parts/weapon-parts/weapon-description.html"}}

      <div class="item-descr">
        <span class="resource-label">{{localize "TWODSIX.Items.Equipment.Description"}}</span>
        <div contenteditable="true" name="system.description" data-edit="system.description">{{{system.description}}}</div>
      </div>
      {{> "systems/twodsix/templates/items/parts/reference-footer.html"}}
    </div>

    <div class="tab modifiers" data-group="primary" data-tab="modifiers">
      {{> "systems/twodsix/templates/items/parts/weapon-parts/weapon-modifiers.html"}}
      {{#if settings.useItemAEs}}{{> "systems/twodsix/templates/items/parts/footer.html"}}{{/if}}
    </div>

    <div class="tab attack" data-group="primary" data-tab="attack">
      {{> "systems/twodsix/templates/items/parts/weapon-parts/weapon-attack.html"}}
    </div>

    <div class="tab magazine" data-group="primary" data-tab="magazine">
      {{> "systems/twodsix/templates/items/parts/weapon-parts/weapon-magazine.html"}}
      {{> "systems/twodsix/templates/items/parts/consumables-part.html"}}
      {{> "systems/twodsix/templates/items/parts/useConsumableForRoll.html"}}
    </div>
  </section>
</div>
