<div class='twodsix-message dice-roll' data-transfer='{{transfer}}'>
  <div class='damage-message'>
    <div class='prefix'>{{{flavor}}}</div>

    <div class="dice-result">
      <div class="dice-formula">{{roll.formula}}</div>
      <div class="dice-tooltip">
        <section class="tooltip-part">
          <div class="dice">
            <header class="part-header flexrow">
              <span class="part-formula">{{roll.formula}}</span>
              <span class="part-total">{{roll.total}}</span>
            </header>
            <ol class="dice-rolls">
              {{#each dice as |die|}}
                <li class="{{twodsix_die_style die}}">{{die.result}}</li>
              {{/each}}
            </ol>
          </div>
        </section>
      </div>
      {{#iff damageValue '>' '0'}}
        <h4 class="dice-total">{{damageValue}}</h4>
      {{else}}
        <h4 class="dice-total">{{localize "TWODSIX.Damage.NoRegularDamage"}}</h4>
      {{/iff}}
    </div>
    {{#if radRoll}}
    <br>
    {{localize "TWODSIX.Items.Component.RadiationDamage"}}
    <br>
    <div class="dice-result">
      <div class="dice-formula">{{radRoll.formula}}</div>
      <div class="dice-tooltip">
        <section class="tooltip-part">
          <div class="dice">
            <header class="part-header flexrow">
              <span class="part-formula">{{radRoll.formula}}</span>
              <span class="part-total">{{radRoll.total}}</span>
            </header>
            <ol class="dice-rolls">
              {{#each radDice as |die|}}
                <li class="{{twodsix_die_style die}}">{{die.result}}</li>
              {{/each}}
            </ol>
          </div>
        </section>
      </div>
      <h4 class="dice-total">{{radDamage}}</h4>
    </div>
    {{/if}}
  </div>
</div>

<footer class="damage-footer">
  <span> {{localize "TWODSIX.Items.Weapon.ArmorPiercing"}}: {{armorPiercingValue}}</span>
  {{#iff damageLabel "!==" ""}}<span>{{localize "TWODSIX.Items.Weapon.damageType"}}: {{localize damageLabel}}
    {{#if canBeParried}} <i class="fa-solid fa-down-left-and-up-right-to-center" data-tooltip='{{localize "TWODSIX.Damage.CanBeParried"}}'></i>
    {{else if canBeBlocked}} <i class="fa-solid fa-shield" data-tooltip='{{localize "TWODSIX.Damage.CanBeBlocked"}}'></i>{{/if}}</span>{{/iff}}
</footer>
