<!-- TODO Move this file -->
<form>
  <fieldset>
  <legend>{{localize "TWODSIX.Chat.Roll.RollDetails"}}</legend>
    <div class="form-group">
      <label>{{localize "TWODSIX.Chat.Roll.Type"}}
        <select name="rollType">
          {{selectOptions rollTypes selected=rollType}}
        </select>
      </label>
    </div>
    <div class="form-group">
      <label>{{localize "TWODSIX.Chat.Roll.OtherModifiers"}}
        <input type="number" name="diceModifier" value="{{diceModifier}}" placeholder="0" onClick="this.select();" style="width: 8ch;"/>
      </label>
    </div>
    <div class="form-group">
      <label>{{localize "TWODSIX.Chat.Roll.Mode"}}
        <select name="rollMode">
          {{selectOptions rollModes selected="publicroll" localize=true}}
        </select>
      </label>
    </div>
    <div class="form-group">
      <label>{{localize "TWODSIX.Chat.Roll.RollFormula"}}
        <input type="text" name="rollFormula" value="{{rollFormula}}" placeholder="" onClick="this.select();" />
      </label>
    </div>
  </fieldset>
</form>
