<!-- TODO Move this file -->
<form>
  <fieldset>
    <legend>{{localize "TWODSIX.Actor.CharacterNames"}}</legend>
    <div class="form-group">
      <select class="protectionTypes" name="selectedTokens" multiple>
        {{selectOptions allTokenNames selected=initialTokens}}
      </select>
    </div>
  </fieldset>
  <br>
  <fieldset>
  <legend>{{localize "TWODSIX.Chat.Roll.RollDetails"}}</legend>
    <div class="form-group">
      <label>{{localize "TWODSIX.Chat.Roll.Difficulty"}}
        <select name="difficulty">
          {{selectOptions difficultyList selected=difficulty}}
        </select>
      </label>
    </div>
    <div class="form-group">
      <label>{{localize "TWODSIX.Chat.Roll.Type"}}
        <select name="rollType">
          {{selectOptions rollTypes selected=rollType}}
        </select>
      </label>
    </div>
    <div class="form-group">
      <label>{{localize "TWODSIX.Chat.Roll.Mode"}}
        <select name="rollMode">
          {{selectOptions rollModes selected=rollMode localize=true}}
        </select>
      </label>
    </div>
  </fieldset>
  <br>
  <fieldset>
    <legend>{{localize "TWODSIX.Chat.Roll.RollModifiers"}}</legend>
    <div class="form-group">
      <label>{{localize "TWODSIX.Actor.Skills.SkillName"}}
        <select class="select-skill" name="selectedSkill">
        {{selectOptions skillsList selected=initialSkill}}
        </select>
      </label>
    </div>
    <div class="form-group">
      <label>{{localize "TWODSIX.Chat.Roll.CharacteristicModifier"}}
        <select class="select-mod" name="characteristic">
        {{selectOptions characteristicList selected=initialChoice}}
        </select>
      </label>
    </div>
    <div class="form-group">
      <label>{{localize "TWODSIX.Chat.Roll.OtherModifiers"}}
        <input type="number" name="other" value="{{other}}" placeholder="0" onClick="this.select();" style="width: 8ch;"/>
      </label>
    </div>
  </fieldset>
  <br>
</form>
