<form>
  <div class="form-group">
    <label>{{localize "TWODSIX.Rolls.SkillName"}}
      <select class="select-skill" name="item-select">
        {{selectOptions skillList selected=skillChosen inverted=false}}
      </select>
    </label>
  </div>
</form>
