<!-- TODO Move this file -->
<form>
  <div class="form-group">
    <label>{{localize "TWODSIX.Chat.Roll.Difficulty"}}
      <select name="difficulty">
        {{#select difficulty}}
          {{#each difficulties as |label difficulty|}}
            <option value="{{difficulty}}">{{localize difficulty}}</option>
          {{/each}}
        {{/select}}
      </select>
    </label>
  </div>
  <div class="form-group">
    <label>{{localize "TWODSIX.Chat.Roll.Type"}}
      <select name="rollType">
        {{#select rollType}}
          {{#each rollTypes as |type|}}
            <option value="{{type.key}}">{{localize (twodsix_advantageDisadvantageTerm type.key)}}</option>
          {{/each}}
        {{/select}}
      </select>
    </label>
  </div>
  {{#if skillRoll}}
  <div class="form-group">
    <label class="resource-label">{{localize "TWODSIX.Items.Skills.Modifier"}}
      <select class="select-mod" name="characteristic" value={{characteristic}}>
        {{#select characteristic}}
          <option value="STR" for="skill-modifier">{{localize "TWODSIX.Items.Skills.STR"}}</option>
          <option value="DEX" for="skill-modifier">{{localize "TWODSIX.Items.Skills.DEX"}}</option>
          <option value="END" for="skill-modifier">{{localize "TWODSIX.Items.Skills.END"}}</option>
          <option value="INT" for="skill-modifier">{{localize "TWODSIX.Items.Skills.INT"}}</option>
          <option value="EDU" for="skill-modifier">{{localize "TWODSIX.Items.Skills.EDU"}}</option>
          <option value="SOC" for="skill-modifier">{{localize "TWODSIX.Items.Skills.SOC"}}</option>
        {{#if (showAlternativeCharacteristics)}}
          <option value="ALT1" for="skill-modifier">{{alternativeShort1}}</option>
          <option value="ALT2" for="skill-modifier">{{alternativeShort2}}</option>
        {{else}}
          <option value="PSI" for="skill-modifier">{{localize "TWODSIX.Items.Skills.PSI"}}</option>
        {{/if}}
        <option value="NONE" for="skill-modifier">{{localize "TWODSIX.Items.Skills.NONE"}}</option>
        {{/select}}
      </select>
    </label>
  </div>
  {{/if}}
  <div class="form-group">
    <label>{{localize "TWODSIX.Chat.Roll.OtherModifiers"}}
      <input type="number" name="diceModifier" value="{{diceModifier}}" placeholder="0" onClick="this.select();"/>
    </label>
  </div>
  <div class="form-group">
    <label>{{localize "TWODSIX.Chat.Roll.Mode"}}
      <select name="rollMode">
        {{#select rollMode}}
          {{#each rollModes as |label mode|}}
            <option value="{{mode}}">{{localize label}}</option>
          {{/each}}
        {{/select}}
      </select>
    </label>
  </div>
</form>
