<form class="roll-settings">
  <fieldset>
  <legend>{{localize "TWODSIX.Chat.Roll.RollDetails"}}</legend>
    <div class="form-group">
      <label>{{localize "TWODSIX.Chat.Roll.Difficulty"}}
        <select name="difficulty">
          {{selectOptions difficultyList selected=difficulty}}
        </select>
      </label>
    </div>
    <div class="form-group">
      <label>{{localize "TWODSIX.Chat.Roll.Type"}}
        <select name="rollType">
          {{selectOptions rollTypes selected=rollType}}
        </select>
      </label>
    </div>
    <div class="form-group">
      <label>{{localize "TWODSIX.Chat.Roll.Mode"}}
        <select name="rollMode">
          {{selectOptions rollModes selected=rollMode localize=true}}
        </select>
      </label>
    </div>
  </fieldset>
  <br>
  <fieldset>
    <legend>{{localize "TWODSIX.Chat.Roll.RollModifiers"}}</legend>
      {{#if skillRoll}}
      <div class="form-group">
        <label>{{localize "TWODSIX.Actor.Skills.SkillName"}} ({{localize "TWODSIX.Items.Skills.Level"}})
          <select class="select-skill" name="rollModifiers.selectedSkill" value={{rollModifiers.selectedSkill}}>
          {{selectOptions skillsList selected=initialSkill}}
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>{{localize "TWODSIX.Chat.Roll.Chain"}}
          <input type="number" name="rollModifiers.chain" value="{{rollModifiers.chain}}" placeholder="0" onClick="this.select();" style="width: 8ch;"/>
        </label>
      </div>
      <div class="form-group">
        <label>{{localize "TWODSIX.Chat.Roll.CharacteristicModifier"}}
          <select class="select-mod" name="rollModifiers.characteristic" value={{rollModifiers.characteristic}}>
          {{selectOptions characteristicList selected=initialChoice}}
          </select>
        </label>
      </div>
      {{/if}}
      {{#if itemRoll}}
        <div class="form-group">
          <label>{{#if isPsionicAbility}}{{localize "TWODSIX.Items.Psionics.Level"}}{{else}}{{localize "TWODSIX.Chat.Roll.ItemModifier"}}{{/if}}
            <input type="number" name="rollModifiers.item" value="{{rollModifiers.item}}" placeholder="0" onClick="this.select();" style="width: 8ch;"/>
            ({{itemLabel}})
          </label>
        </div>
        {{#iff rollModifiers.rof "!==" 0}}
          <div class="form-group">
            <label>{{localize "TWODSIX.Chat.Roll.Rof"}}
              <input type="number" name="rollModifiers.rof" value="{{rollModifiers.rof}}" placeholder="0" onClick="this.select();" style="width: 8ch;"/>
            </label>
          </div>
        {{/iff}}
        {{#iff rollModifiers.attachments "!==" 0}}
          <div class="form-group">
            <label>{{localize "TWODSIX.Chat.Roll.Attachments"}}
              <input type="number" name="rollModifiers.attachments" value="{{rollModifiers.attachments}}" placeholder="0" onClick="this.select();" style="width: 8ch;"/>
            </label>
          </div>
        {{/iff}}
        {{#iff rollModifiers.dodgeParry "!==" 0}}
          <div class="form-group">
            <label>{{localize "TWODSIX.Chat.Roll.DodgeParry"}}
              <input type="number" name="rollModifiers.dodgeParry" value="{{rollModifiers.dodgeParry}}" placeholder="0" onClick="this.select();" style="width: 8ch;"/>
              ({{rollModifiers.dodgeParryLabel}})
            </label>
          </div>
        {{/iff}}
        {{#iff rollModifiers.weaponsHandling "!==" 0}}
          <div class="form-group">
            <label>{{localize "TWODSIX.Chat.Roll.WeaponsHandling"}}
              <input type="number" name="rollModifiers.weaponsHandling" value="{{rollModifiers.weaponsHandling}}" placeholder="0" onClick="this.select();" style="width: 8ch;"/>
              ({{itemLabel}})
            </label>
          </div>
        {{/iff}}
        {{#if showRangeModifier}}
          <div class="form-group">
            <label>{{localize "TWODSIX.Chat.Roll.WeaponsRange"}}
              <input type="number" name="rollModifiers.weaponsRange" value="{{rollModifiers.weaponsRange}}" placeholder="0" onClick="this.select();" style="width: 8ch;"/>
              ({{rollModifiers.rangeLabel}})
            </label>
          </div>
        {{/if}}
        {{#if showArmorWeaponModifier}}
          <div class="form-group">
            <label>{{localize "TWODSIX.Chat.Roll.ArmorModifier"}}
              <input type="number" name="rollModifiers.armorModifier" value="{{rollModifiers.armorModifier}}" placeholder="0" onClick="this.select();" style="width: 8ch;"/>
              ({{rollModifiers.armorLabel}})
            </label>
          </div>
        {{/if}}
        {{#if showTargetModifier}}
          <div class="form-group">
            <label>{{#if rollModifiers.targetModifierOverride}}{{localize "TWODSIX.Chat.Roll.OverrideAuto"}} {{/if}}{{localize "TWODSIX.Chat.Roll.TargetModifier"}}
            <multi-select class="select target-modifier" name="rollModifiers.targetModifier">{{selectOptions targetDMList selected=targetModifier}}</multi-select>
            </label>
          </div>
        {{/if}}
      {{/if}}
      <div class="form-group">
        <label>{{localize "TWODSIX.Chat.Roll.Other"}}
          <input type="number" name="rollModifiers.other" value="{{rollModifiers.other}}" placeholder="0" onClick="this.select();" style="width: 8ch;"/>
        </label>
      </div>
  </fieldset>
  <br>
  {{#if showConditions}}
    <fieldset>
      <legend>{{localize "TWODSIX.Chat.Roll.Conditions"}}</legend>
        {{#if showWounds}}
          <div class="form-group">
            <label>{{localize "TWODSIX.Chat.Roll.Wounds"}}
              <input type="number" name="rollModifiers.wounds" value="{{rollModifiers.wounds}}" placeholder="0" onClick="this.select();" style="width: 8ch;"/>
            </label>
          </div>
        {{/if}}
        {{#if showEncumbered}}
          <div class="form-group">
            <label>{{localize "TWODSIX.Chat.Roll.Encumbered"}}
              <input type="number" name="rollModifiers.encumbered" value="{{rollModifiers.encumbered}}" placeholder="0" onClick="this.select();" style="width: 8ch;"/>
            </label>
          </div>
        {{/if}}
    </fieldset>
    <br>
  {{/if}}
  {{#if (twodsix_showTimeframe)}}
    <fieldset>
      <legend>{{localize "TWODSIX.Chat.Roll.Timeframe"}}</legend>
      <div class="form-group">
        <label>{{localize "TWODSIX.Chat.Roll.RollFormula"}}<br>
          <input type="text" name="timeRollFormula" value="{{timeRollFormula}}" placeholder="1d6" onClick="this.select();"/>
        </label>
        <label>{{localize "TWODSIX.Chat.Roll.Units"}}<br>
          <select class="select-timeUnits" name="timeUnit" value={{selectedTimeUnit}}>
            {{selectOptions timeUnits selected=selectedTimeUnit localize=true}}
          </select>
        </label>
      </div>
    </fieldset>
    <br>
  {{/if}}
</form>
