
a.ship-crew-tab, a.ship-positions-tab,
a.ship-storage-tab, a.ship-cargo-tab,
a.ship-finance-tab, a.ship-component-tab,
a.ship-notes-tab, a.ship-notes-tab.active, a.ship-notes-tab:hover {
	padding: 1ch 0.3ch;
}

.components-stored-single.rating.no-dm.no-cost {
  grid-template-columns: 13.5em 4em 6em 4em 4em 4em 4.5em 2.5em 4.5em 3.2em 3em;
  grid-template-areas:
    ". . . . . . . . . . .";
}

.components-stored-single.no-rating.dm.no-cost {
  grid-template-columns: 14.5em 4em 4em 4em 4em 4em 4.5em 2.5em 4.5em 4.3em 3em;
  grid-template-areas:
    ". . . . . . . . . . .";
}
.components-stored-single.no-rating.no-dm.no-cost {
  grid-template-columns: 14.5em 4em 5em 5em 5em 4.5em 4.5em 5em 4em 3em;
  grid-template-areas:
    ". . . . . . . . . .";
}

.components-stored-single.rating.dm.no-cost {
  grid-template-columns: 12.5em 2em 6em 3em 4em 4em 5.5em 4.5em 2em 5em 4em 3em;
  grid-template-areas:
    ". . . . . . . . . . . .";
}

.components-stored-single.rating.no-dm.cost {
  grid-template-columns: 13.5em 4em 6em 4em 4em 4em 4em 4.5em 2.5em 5em 4em 3em;
  grid-template-areas:
    ". . . . . . . . . . . .";
}

.components-stored-single.no-rating.dm.cost {
  grid-template-columns: 14.5em 4em 4em 4em 4em 4em 4em 4.5em 2.5em 5em 4.3em 3em;
  grid-template-areas:
    ". . . . . . . . . . . .";
}

.components-stored-single.no-rating.no-dm.cost {
  grid-template-columns: 14.5em 4em 5em 5em 5em 5em 4.5em 4.5em 5em 4em 3em;
  grid-template-areas:
    ". . . . . . . . . . .";
}

.components-stored-single.rating.dm.cost{
  grid-template-columns: 12.5em 2em 6em 3em 4em 4em 4em 5.5em 4.5em 2em 5em 4em 3em;
  grid-template-areas:
    ". . . . . . . . . . . . .";
}
/*HERE*/
.items-armor {
  grid-template-columns: 5% 38% 10% 10% 10% 15% 12%;
}
.items-augments {
  grid-template-columns: 5% 30% 5% 10% 25% 10% 15%;
}

.items-equipment {
  grid-template-columns: 5% 30% 10% 10% 30% 15%;
}

.bgi-movement select {
  width: 17ch;
}

.skill-tab {
  min-width: 12ch;
}
