.items-weapons {
	grid-template-columns: 1.5em 11.5em 1.6em 2.7em 2.2em 3.8em 3.6em 5.5em;
}

.ship-mass, .ship-drives,.ship-fuel, .ship-hull-bandwidth, .ship-armor {
	margin-top: 0.25em;
}

.power-grid {
	font-size: 12px;
	margin-top: 4px;
}

.components-stored-double, .cargo-stored-double {
  grid-template-columns: 23ch 7ch 5ch 10ch 7ch 7ch;
}

a.ship-crew-tab, a.ship-positions-tab,
a.ship-storage-tab, a.ship-cargo-tab,
a.ship-finance-tab, a.ship-component-tab,
a.ship-notes-tab, a.ship-notes-tab.active, a.ship-notes-tab:hover {
	padding: 1ch 0.3ch;
	font-size: 1.8ch;
}

.bgi-niche select {
	width: 18ch;
}

.bgi-type select, .bgi-movement select {
	 width: 17ch;
}

.bgi-reaction input {
	width: 2.5em;
}

.character-bgi-std {
  font-size: 1.9ch;
}

.robot-content-container, .robot-content-container-small,
.animal-content-container, .animal-content-container-small  {
  grid-template-columns: 15em 25em 18em;
}

.ship-info input, .ship-fuel-value input, .ship-drives input, .ship-armor-value input {
	font-size: 16px;
	height: 2.5ch
}

.fuel-bar {
	/* height: 26px; */
}

.ship-state-grid {
	margin-left: 2px;
}

.add-skill {
  width: 14ch;
}
