/* Custom CSS */

/*fix in default fvtt for item images not preserving aspect ratio*/
.item-img {
	object-fit: contain;
}

/* fix for dice-tray input box shift for default mode*/
input.dice-tray__input {
    margin-top: 8px;
}

/* Fix GM Screen background for dark formats*/
.gm-screen-app, .gm-screen-actions button  {
  background: #0d0d0d !important;
}

/*Correct PopOut! auto resizing of ship sheet*/
.ship-container {
  min-height: 21.8em;
  max-height: 21.8em;
}

/* Allow FVTT sidebar (menu) pop-outs to be resized*/
.app.sidebar-popout {
	resize: both;
    overflow: auto;
}

/*Fix Advanced Macro Background Issue*/
.macro-sheet .form-group.command .furnace-macro-command code,  .macro-sheet .form-group.command .furnace-macro-command textarea{
  -webkit-text-fill-color: inherit !important;
  background: var(--s2d6-background-opaque) !important;
  color: var(--s2d6-default) !important;
}

/*Fix for Tidy UI */
#client-settings nav.tabs {
  flex-grow: 0 !important;
}
