@font-face {
  font-family: "Asap-Regular";
  src: url("../fonts/Asap-M2Pr.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Asap-M2Pr.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/Asap-M2Pr.otf") format("opentype"), /* Open Type Font */ url("../fonts/Asap-M2Pr.svg") format("svg"), /* Legacy iOS */ url("../fonts/Asap-M2Pr.ttf") format("truetype"), /* Safari, Android, iOS */ url("../fonts/Asap-M2Pr.woff") format("woff"), /* Modern Browsers */ url("../fonts/Asap-M2Pr.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

:root {
  --s2d6-default-color: rgba(41, 170, 225, 1);
  --s2d6-light-color: rgba(0, 229, 255, 1);
  --s2d6-window-color: rgba(86, 148, 175, 1);
  --s2d6-background-transparent: rgba(0, 0, 0, 0);
  --s2d6-background-nearly-transparent: rgba(0, 0, 0, 0.25);
  --s2d6-background-semi-opaque: rgba(0, 0, 0, 0.5);
  --s2d6-background-nearly-opaque: rgba(0, 0, 0, 0.75);
  --s2d6-background-opaque: rgba(0, 0, 0, 1);
  --s2d6-nav-background: rgba(52, 52, 52, 0.95);
  --s2d6-dark-hover: var(--s2d6-background-nearly-opaque);
  --s2d6-light-background-transparent: rgba(255, 255, 255, 0.09);
  --s2d6-stat-input: rgba(110, 129, 158, 1);
  --s2d6-item-active: var(--s2d6-background-opaque);
  --s2d6-header-border: rgba(34, 80, 120, 1);
  --s2d6-form-light: rgb(175, 173, 160, 1);
  --s2d6-item-border: var(--s2d6-stat-input);
  --s2d6-skill-list-even: var(--s2d6-light-background-transparent);
  --s2d6-sidebar-background: var(--s2d6-form-light); /*rgba(130, 129, 125, 1)*/
  --s2d6-crit-fail: rgba(170, 2, 0, 1);
  --s2d6-crit-success: rgba(47, 120, 34, 1);
  --s2d6-dialog-color: rgba(168, 184, 208, 1); /*rgba(162, 188, 228, 1)*/
  --s2d6-app-color: rgba(240, 240, 224, 1);
  --s2d6-item-hover: var(--s2d6-app-color); /*rgba(255, 255, 255, 1)*/
  --s2d6-select-light: var(--s2d6-item-hover);
  --s2d6-damage-red: rgba(255, 0, 0, 1);
  --s2d6-damage-stat-color: rgba(181, 44, 44, 1);
  --s2d6-damage-orange: rgba(255, 153, 0, 1);
}

body {
  background-image: url(../assets/workbg2.webp);
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  font-family: "Asap-Regular";
}

svg {
  fill: currentColor;
}

p span, p {
  background-color: transparent !important;
  font-family: inherit !important;
}

input[type='text'], input[type='number'], input[type='password'], input[type='datetime-local'], div[contenteditable], textarea {
  background: var(--s2d6-background-semi-opaque) !important;
  color: var(--s2d6-light-color) !important;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  border: 1px solid var(--s2d6-background-opaque);
  border-radius: 0 !important;
}

*[contenteditable] * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

select {
  height: 25px;
  background: var(--s2d6-background-semi-opaque) !important;
  color: var(--s2d6-light-color) !important;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  border: 1px solid var(--s2d6-background-opaque);
  border-radius: 0 !important;
}

input[type='text']:focus, input[type='number']:focus, input[type='password']:focus, input[type='datetime-local']:focus, textarea:focus, input:focus, div[contenteditable]:focus, select:focus {
  outline: none;
  box-shadow: 0 0 10px var(--s2d6-header-border);
  background: var(--s2d6-background-semi-opaque);
}

input::-webkit-inner-spin-button {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

img {
  border: none !important;
  max-width: 100%;
}

/*** Firebox Number Box Fix ***/

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*** Fix link backgrounds and table colors to TWODSIX Style ***/
a.entity-link,
a.inline-roll {
  background: var(--s2d6-background-transparent);
}
a.entity-link i,
a.inline-roll i {
  color: var(--s2d6-default-color);
}
table tr:nth-child(even) {
  background-color: var(--s2d6-light-background-transparent);
}

/******************************/
/* ----------------------------------------- */
/* General Sheet Styling
/* ----------------------------------------- */
.sheet {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.sheet > * {
  flex: 1;
}
.sheet > .flex0 {
  display: block;
  flex: 0;
}
.sheet > .flex1 {
  flex: 1;
}
.sheet > .flex2 {
  flex: 2;
}
.sheet > .flex3 {
  flex: 3;
}
.sheet header.sheet-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.sheet header.sheet-header > * {
  flex: 1;
}
.sheet header.sheet-header > .flex0 {
  display: block;
  flex: 0;
}
.sheet header.sheet-header > .flex1 {
  flex: 1;
}
.sheet header.sheet-header > .flex2 {
  flex: 2;
}
.sheet header.sheet-header > .flex3 {
  flex: 3;
}
.sheet header.sheet-header img {
  flex: 0 0 64px;
  height: 64px;
  margin-right: 6px;
}
.sheet header.sheet-header h1 {
  flex: 1;
  margin: 0;
  border-bottom: none;
}
.sheet header.sheet-header h1 input {
  height: 48px;
  line-height: 48px;
  margin: 8px 2%;
  width: 96%;
}
.sheet nav.sheet-tabs {
  height: 21px !important;
  flex: 0 0 23px !important;
  /* margin: 0 0 !important; */
  line-height: 16px !important;
  /* position: relative; */
  top: 1.8em !important;
  /* margin-bottom: 1em; */
  border: none !important;
  padding: 0;
  margin-left: 3px;
}

.sheet footer.sheet-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 0 0 32px;
  line-height: 32px;
}
.sheet footer.sheet-footer > * {
  flex: 1;
}
.sheet footer.sheet-footer > .flex0 {
  display: block;
  flex: 0;
}
.sheet footer.sheet-footer > .flex1 {
  flex: 1;
}
.sheet footer.sheet-footer > .flex2 {
  flex: 2;
}
.sheet footer.sheet-footer > .flex3 {
  flex: 3;
}
/*.sheet .editor-content {
  height: 100%;
  overflow-y: auto;
  word-break: break-word;
}*/

/******************************************************/

.macro-sheet .form-group.command div[contenteditable] {
  height: calc(100% - 24px);
  resize: none;
  color: var(--s2d6-light-color);
}

form .form-group, form .form-group-stacked {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3px 0;
  color: var(--s2d6-light-color) !important;
}

form .form-group > label {
  flex: 4;
}

form .form-group span.units {
  flex: 0;
  line-height: 28px;
  font-size: 12px;
  color:var(--s2d6-form-light) !important;
}

#player-config label {
  font-size: 14px;
  font-weight: bold;
  color: var(--s2d6-default-color) !important;
}

.rollable:hover {
  cursor: pointer;
}

.perform-attack:hover {
  cursor: pointer;
}

.roll-damage:hover {
  cursor: pointer;
}

.centre {
  text-align: center;
}

.component-toggle:hover {
  cursor: pointer;
}
/*div {border: thin dotted #FFF;}*/

.window-content {
  background-attachment: fixed !important;
  background-image: url(../assets/bg2.jpg) !important;
  background-repeat: repeat-x !important;
  font-family: inherit;
  color: var(--s2d6-light-color) !important;
}

.app.window-app.twodsix.sheet.actor .window-content {
  overflow: hidden !important;
}

.character-name h2 {
  margin-bottom: -0.5em;
  border: none;
}

h2 {
  font-size: 1.5em;
  border-bottom: 1px solid var(--s2d6-header-border);
}

.content-container {
  display: grid;
  grid-template-columns: 21.8em 35em;
  gap: 1px 1px;
  position: relative;
  top: -2.4em;
  left: -0.3em;
}

.npc-content-container {
  display: grid;
  grid-template-columns: 15em 21em 18em;
  grid-template-rows: 18em 0.5fr 0.5fr;
  gap: 16px 16px;
  position: relative;
  grid-template-areas:
  "npc-name-photo npc-bgi-stats npc-notes-container"
  "npc-skills npc-skills npc-skills"
  "npc-weapons npc-weapons npc-weapons";
}

.npc-name-photo {
  grid-area: npc-name-photo;
  height: 95%;
  width: 100%;
}

.npc-bgi-stats {
  grid-area: npc-bgi-stats;
}

.npc-notes-container {
  grid-area: npc-notes-container;
  max-height: 18em;
  border-style: solid;
  border-radius: 2ch;
  border-color: var(--s2d6-default-color);
  background-color: var(--s2d6-background-nearly-opaque);
}

.npc-skills, .npc-weapons {
  grid-area: npc-skills;
  border: solid;
  border-radius: 2ch;
  border-color: var(--s2d6-default-color);
}

.npc-weapons {
  grid-area: npc-weapons;
}

.npc {
  margin-top: inherit !important;
  margin-left: inherit !important;
  width: inherit !important;
  height: inherit !important;
  max-height: inherit !important;
  padding-top: inherit !important;
  left: inherit !important;
  justify-self: center;
  position: inherit !important;
  display: inline-block;
}

.content-background {
  top: 0.7em;
  left: 0.8em;
  position: absolute;
  z-index: 0;
}

.character-info {
  margin-left: -8px;
  margin-top: -2px;
  position: relative;
}

img.character-info-mask {
  z-index: 4;
  position: absolute;
  pointer-events: none;
  margin-top: 1.65em;
  margin-left: 1.1em;
}

.character-photo {
  margin-top: 2.15em;
  margin-left: 2.1em;
  position: absolute;
  width: 19.3em;
  height: 20em;
  text-align: center;
  z-index: 0;
  object-fit: contain;
}

.character-photo img {
  vertical-align: middle;
  max-height: 100%;
  z-index: -1;
}

.character-armor {
  position: absolute;
  top: 21.25em;
  background: var(--s2d6-background-semi-opaque);
  width: 100%;
  padding-bottom: .5em;
}

.helper {
  display: inline-block;
  vertical-align: middle;
  height: 3em;
}

.character-name {
  position: relative;
  margin-top: 22em;
  text-align: center;
  z-index: 6;
  left: 2.5em;
  width: 18.5em;
}

.character-name .npc {
  height: 22px !important;
  width: 100% !important
}

.character-name input[type='text'] {
  background-color: transparent;
  position: relative;
  /*width: 15.55em;*/
  font-size: 1.2em;
  text-align: center;
  color: var(--s2d6-default-color) !important;
  border: none;
}

.character-bgi {
  margin-left: 2.4em;
  position: relative;
  margin-top: 0.15em;
  width: 19em;
  height: 7.5em;
  font-size: 16px;
  z-index: 9;
  color: var(--s2d6-default-color) !important;
}

.character-bgi-std {
  margin-left: 2.2em;
  position: relative;
  margin-top: 0.15em;
  width: 17em;
  height: 7.5em;
  font-size: 16px;
  z-index: 9;
  color: var(--s2d6-default-color) !important;
}

.character-bgi-npc {
  font-size: 16px;
  z-index: 9;
  border: solid;
  border-radius: 2ch;
  padding: 0 1ch;
  color: var(--s2d6-default-color) !important;
}

.character-bgi input, .character-bgi-npc input {
  background-color: transparent !important;
  border: none;
  height: 2.7ch;
}
.character-bgi-std input{
  background-color: transparent !important;
  border: none;
  height: 2.4ch;
}

.bgi-age input {
  width: 2em;
  border: none;
}

.bgi-gender input {
  width: 10ch;
  border: none;
}

.bgi-species input {
  width: 8em;
  border: none;
}

.bgi-homeWorld input {
  width: 8em;
  border: none;
}

.bgi-movement input {
  width: 5ch;
  border: none;
  text-align: right;
}

.bgi-movement select {
  width: 7ch;
  background-color: var(--s2d6-background-transparent) !important;
  border: none;
}

.bgi-char-narrow {
  font-size: 16px;
}

.bgi-char-narrow input {
  width: 1.5em;
  text-align: right;
}

.bgi-char-wide {
  font-size: 16px;
}

.bgi-char-wide input {
  width: 2.2em;
  border: none;
  text-align: left;
  color: var(--s2d6-damage-stat-color) !important;
}

span.bgi-age {
  margin-right: 0;
}

span.bgi-armor, span.bgi-encumbrance, span.bgi-radExposure, span.bgi-charEdit {
  margin-right: 0.5em;
  height: 26px;
  font-size: 16px;
  font-weight: bold;
  color: var(--s2d6-default-color) !important;
}

span.bgi-charEdit {
  margin-left: 1em;
}

.bgi-armor input {
  position: relative;
  margin-bottom: -0.5em;
  width: 3ch;
  border: none;
}

.bgi-encumbrance input {
  position: relative;
  margin-bottom: -0.5em;
  width: 4ch;
  border: none;
}

.bgi-radExposure input{
  position: relative;
  margin-bottom: -0.5em;
  width: 4ch;
  border: none;
}

.character-bgi span {
  display: inline-block;
}

.character-characteristics {
  width: 17.5em;
  margin-top: 2em;
  margin-left: 3em;
  position: relative;
  z-index: 6;
  height: 7.5em;
  color: var(--s2d6-default-color) !important;
}

.edit-mode {
  position: relative;
  margin-top: -1.5em;
  margin-left: -1em;
}

.stat {
  background-image: url(../assets/actor/Stat-1.svg);
  background-size: cover !important;
  height: 48px;
  width: 61px;
  display: inline-block;
  position: relative;
  margin-bottom: 1.5em;
}

.stat-table-small {
  background-color: var(--s2d6-nav-background);
  font-size: 11px;
  margin-left: 3.2em;
  margin-top: 8px;
  width: 82%;
}
.table-header-row {
  height: 5ch;
}

span.edit-char-toggle {
  text-align: center;
}

span.stat-name {
  position: relative;
  /*left: 0.7em;*/
  top: -1.1em;
  font-size: 1.2em;
  display: block;
  /*width: 65%;*/
  cursor: pointer;
  text-align: center;
}

span.stat-name-table, input.stat-name-table {
  position: relative;
  display: block;
  cursor: pointer;
  text-align: center !important;
  width: 4ch;
  transform: rotate(-45deg);
}

input.stat-name-table {
  cursor: inherit;
  background-color: unset !important;
  border: none;
  margin: 0;
  padding: 0;
}

.stat input, .special input {
  width: 1.5em;
  text-align: center;
  margin-left: -0.25em;
  background-color: transparent !important;
  border: none;
  color: var(--s2d6-stat-input);
  -moz-appearance: textfield;
}

input.stat-name, input.special-name {
  position: relative;
  left: 0.7em;
  top: -1.1em;
  font-size: 1.2em;
  display: block;
  width: 75%;
  cursor: pointer;
  text-align: center;
  height: 19px;
}

input.special-name {
  left: -0.05em;
  width: 90%;
}

.stat img {
  position: relative;
  height: 1.0em;
  margin-top: 0.2em;
  top: -1.3em;
  left: -0.85em;
}

.special {
  background-image: url(../assets/actor/Stat-Psi.svg);
  height: 55px;
  width: 46px;
  background-size: cover;
  position: relative;
}

.special img {
  position: relative;
  height: 1.2em;
  margin-left: 1.2em;
  top: -1.2em;
  display: inline-block;
}

.special.psionicStrength {
  left: 13.7em;
  top: -7.9em;
}

.special.alternative1 {
  left: 13.7em;
  top: -10.2em;
}

.special.alternative2 {
  left: 13.7em;
  top: -9em;
}

span.special-name {
  position: relative;
  top: -1.1em;
  right: -0.15em;
  font-size: 1.2em;
  cursor: pointer;
  display: inline-block;
  min-width: 3ch;
  text-align: center;
}

span.stat-ability {
  margin: -0.3em;
  position: relative;
  left: 1.1em;
  top: -1.2em;
}

span.stat-ability-table {
  text-align: center !important;
  position: relative;
}

span.stat-modifier {
  margin: -5px;
  position: relative;
  left: 1.95em;
  top: -1.2em;
}
span.stat-modifier-table {
  text-align: center !important;
  position: relative;
}

span.stat-ability-table input, span.stat-modifier-table input {
  width: 4ch;
}

span.stat-damage {
  position: relative;
  padding-left: 0.1em;
  top: 0.25em;
}

span.stat-damage-table {
  position: relative;
  text-align: center !important;
}

span.stat-damage-table input {
  color:var(--s2d6-damage-stat-color) !important;
  border: solid;
  border-width: thin !important;
  border-radius: 15%;
  width: 4ch;
  border-color: var(--s2d6-default-color);
}


span.stat-damage input, span.special-damage input {
  color: var(--s2d6-damage-stat-color) !important;
  border: none;
}

span.special-ability {
  position: relative;
  top: -1.4em;
  left: 0.7em;
}

span.special-modifier {
  margin: -5px;
  position: relative;
  /* left: 1em; */
  top: -2.2em;
}

span.special-damage {
  position: relative;
  padding-left: 0.7em;
  top: -1.3em;
}

svg:hover {
  fill: var(--s2d6-damage-red);
}

/* TABS */

.character-tabs .tabs {
  position: relative;
  top: 2em;
  left: 0.3em;
  z-index: 50;
  width: 453px;
  height: 22px;
}

.character-tabs-info {
  background: transparent !important;
}

.skill-tab {
  background-image: url(../assets/actor/Interface-Tabs.svg);
  background-position-x: -2px;
  width: 90px;
  padding-top: 0.15em;
  display: block;
  background-color: unset !important;
}

a.skill-tab:hover {
  background-image: url(../assets/actor/Interface-Tabs-Hover.svg);
  color: var(--s2d6-item-hover);
}

a.skill-tab.active {
  background-image: url(../assets/actor/Interface-Tabs-Active.svg);
  color: var(--s2d6-item-active);
  text-shadow: none !important;
}

.item-tab, .finances-tab, .info-tab {
  background-image: url(../assets/actor/Interface-Tabs.svg);
  background-position-x: -97px;
  padding-top: 0.15em;
  width: 90px;
  display: block;
  background-color: transparent !important;
}

a.item-tab:hover, a.finances-tab:hover, a.info-tab:hover {
  background-image: url(../assets/actor/Interface-Tabs-Hover.svg);
  color: var(--s2d6-item-hover);
}

a.item-tab.active, a.finances-tab.active, a.info-tab.active {
  background-image: url(../assets/actor/Interface-Tabs-Active.svg);
  color: var(--s2d6-item-active);
  text-shadow: none !important;
}

.notes-tab {
  background-image: url(../assets/actor/Interface-Tabs.svg);
  background-position-x: 93px;
  padding-top: 0.15em;
  width: 93px;
  display: block;
  background-color: unset !important;
}

a.notes-tab:hover {
  background-image: url(../assets/actor/Interface-Tabs-Hover.svg);
  color: var(--s2d6-item-hover);
  background-color: unset !important;
}

a.notes-tab.active {
  background-image: url(../assets/actor/Interface-Tabs-Active.svg);
  color: var(--s2d6-item-active);
  text-shadow: none !important;
}

.tab, div{
  scrollbar-width: thin;
  scrollbar-color: var(--s2d6-default-color);
}

.tab[data-tab].active {
  display: block;
  position: relative;
}

.tab.inventory {
  top: 2em;
  height: 39em;
  overflow-x: hidden;
}

.character-inventory {
  overflow-x: hidden;
}

.inventory {
  top: 2em;
}

.items-weapons {
  display: grid;
  grid-template-columns: 1.5em 13.5em 1.6em 1.6em 1.6em 3em 5em 5.5em;
  gap: 1px 1px;
  grid-template-areas: '. . . . .';
}

.gear-header {
  border: 2px solid var(--s2d6-default-color);
  background-color: var(--s2d6-default-color);
  color: var(--s2d6-item-active);
  padding-left: 0.5em;
}

.advanced-settings-checkbox-wrapper {
  flex: 0 1 0 !important;
}

.gear {
  border: 1px solid var(--s2d6-default-color);
  padding-left: 0.5em;
}

.items-armor {
  display: grid;
  grid-template-columns: 1.5em 13.5em 3.5em 3.5em 3.5em 4em 4em;
  gap: 1px 1px;
  grid-template-areas: '. . . . .';
}

.items-augments {
  display: grid;
  grid-template-columns: 1.5em 11.5em 1.6em 1.6em 10.5em 4em 3em;
  gap: 1px 1px;
  grid-template-areas: '. . . . .';
}

.items-equipment {
  display: grid;
  grid-template-columns: 1.5em 11.5em 1.6em 1.6em 13em 4.5em;
  gap: 1px 1px;
  grid-template-areas: '. . . . .';
}

.items-traits {
  display: grid;
  grid-template-columns: 14em 2em 14em 3em;
  gap: 1px 1px;
  grid-template-areas: '. . . .';
}

.items-consumable {
  display: grid;
  grid-template-columns: 1.5em 14.5em 5em 2.5em 5.8em 4.5em;
  gap: 1px 1px;
  grid-template-areas: '. . . . .';
}

/*-------Skill Tab-----------*/

.skill-list {
  padding: 0.5em;
  width: 34.2em;
  border: 1px groove var(--s2d6-default-color);
  background-color: var(--s2d6-default-color);
  color: var(--s2d6-background-opaque);
  font-weight: bold;
}

#joat-skill {
  position: absolute;
}

#joat-skill-input {
  height: 20px;
  width: 25px;
}

.add-skill {
  background-image: url(../assets/actor/sheet-button1.svg);
  background-size: cover;
  width: 108px;
  height: 22px;
  display: block;
  position: relative;
  top: 0.1em;
  left: 26.5em;
  z-index: 51;
  color: var(--s2d6-item-active);
  font-weight: bold;
}

.add-skill:hover {
  background-image: url(../assets/actor/sheet-button1-hover.svg);
  background-size: cover;
  color: var(--s2d6-item-hover);
}

span.add-skill-txt {
  height: 22px;
  display: inline-block;
  position: relative;
  margin-top: -0.4em;
  margin-left: 0.95em;
}

.skill {
  padding: 0.1em 0 0.1em 0.5em;
  width: 34.2em;
}

a:hover, a.active {
  text-shadow: 0 0 0.8em var(--s2d6-light-color);
}

.item.flexrow.item-header {
  margin-top: 2em;
}

.skills.flexrow.flex-group-center {
  padding: 1em;
}

/* Style overrides */

.skills input[type='number'] {
  width: 2em;
}

input.item-value-edit {
  /*padding: initial;*/
  text-align: center;
  height: auto;
}

.skill-box-name.inlineblock-left {
  width: 16em;
}

.skill-box {
  /* width: 5em; */
  border: 1px solid;
  display: flex;
}

.skills {
  position: relative;
  top: 2.5em;
  overflow-y: auto;
}

.skills.grid.grid-2col {
  margin-top: -1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.tab.skills {
  top: 2em;
  height: 39em;
  overflow-x: hidden;
}

.skl.item-control.item-edit {
  padding-right: 1.5em;
}

.item-controls .item-toggle i { display: none; }
.item-controls .item-toggle .fa-hiking { display: inline; }
.item-controls .item-toggle.ship .fa-hiking,
.item-controls .item-toggle.equipped .fa-hiking { display: none; }
.item-controls .item-toggle.ship .fa-space-shuttle,
.item-controls .item-toggle.equipped .fa-child { display: inline; }

.skill:nth-of-type(even) {
  background: var(--s2d6-skill-list-even);
}

.skill:hover {
  border-left: 1px solid var(--s2d6-light-color);
  border-right: 1px solid var(--s2d6-light-color);
  background-color: var(--s2d6-default-color) !important;
  color: var(--s2d6-dark-hover) !important;
}

.skill-container {
  display: grid;
  grid-template-columns: 1.5em 15em 3.4em 4em 3em 6.5em;
  grid-template-rows: 1fr;
  gap: 1px 1px;
}

select.select-mod {
  width: 5em;
  margin-left: 1em;
}

select.select-difficulty {
  width: 11em;
  margin-left: 1em;
}

select.select-rolltype {
  width: 10em;
  margin-left: 1em;
}

span.total-output {
  text-align: center;
}

.roll-dice {
  text-align: right;
  margin-left: 1em;
}

.skill-total {
  text-align: center;
}

.resource-label {
  padding-top: 0.2em;
}

.short-label input[type='text'], .short-label input[type='number'] {
  width: 18ch;
}

.short-label input[type='checkbox'] {
  vertical-align: text-bottom;
  height: 16px;
}

.multi-line {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.select-mod:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: var(--s2d6-select-light);
}

.select-difficulty:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: var(--s2d6-select-light);
}

/*-------Finances Tab-----------*/

.finances-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: 'cash financial-notes' 'pension financial-notes' 'debt financial-notes' 'ship-payments financial-notes' 'living-costs financial-notes';
  position: relative;
  margin-top: 3em;
}

.financial-notes {
  grid-area: financial-notes;
  padding: 1em;
}

.financial-notes div[contenteditable] {
  border: 1px solid var(--s2d6-default-color);
  width: 14.8em;
  height: 28.5em;
  border-radius: 0;
  overflow-y: auto;
  padding: 0.2em;
}

.cash {
  grid-area: cash;
  padding: 1em;
}

.cash input[type='text'] {
  width: 14.8em;
  padding: 0.5em;
  height: 31px;
  border: 1px solid var(--s2d6-default-color);
  border-radius: 0;
}

.pension {
  grid-area: pension;
  padding: 1em;
}

.pension input[type='text'] {
  width: 14.8em;
  padding: 0.5em;
  height: 31px;
  border: 1px solid var(--s2d6-default-color);
  border-radius: 0;
}

.debt {
  grid-area: debt;
  padding: 1em;
}

.debt input[type='text'] {
  width: 14.8em;
  padding: 0.5em;
  height: 31px;
  border: 1px solid var(--s2d6-default-color);
  border-radius: 0;
}

.ship-payments {
  grid-area: ship-payments;
  padding: 1em;
}

.ship-payments input[type='text'] {
  width: 14.8em;
  padding: 0.5em;
  height: 31px;
  border: 1px solid var(--s2d6-default-color);
  border-radius: 0;
}

.living-costs {
  grid-area: living-costs;
  padding: 1em;
}

.living-costs input[type='text'] {
  width: 14.8em;
  padding: 0.5em;
  height: 31px;
  border: 1px solid var(--s2d6-default-color);
  border-radius: 0;
}

.item-title {
  background-image: url(../assets/actor/header.svg);
  height: 22px;
  width: 207px;
  display: block;
  color: var(--s2d6-item-active);
  font-weight: bold;
  font-size: 15px;
  padding: 0.2em 0.2em 0.2em 0.5em;
}

.item-title-npc {
  height: 22px;
  width: 207px;
  display: block;
  color: var(--s2d6-item-active);
  background-color: var(--s2d6-default-color);
  font-weight: bold;
  font-size: 15px;
  padding: 0.2em 0.2em 0.2em 0.5em;
  border-radius: 2ch 0 4ch;
}

.item-title-short {
  background-image: url(../assets/actor/header.svg);
  height: 22px;
  width: 10.4em;
  display: block;
  color: var(--s2d6-item-active);
  font-weight: bold;
  font-size: 15px;
  padding: 0.2em 0.2em 0.2em 0.5em;
}
.manifest {
  margin-left: 1em;
}
.simplified-skill-description {
  font-weight: normal;
  font-size: 10px;
  text-align: left;
  margin-bottom: 10px;
}

/*-------Info Tab-----------*/

.info-container {
  display: grid;
  grid-template-columns: 33.6em;
  grid-template-rows: 8em 13em 19em;
  gap: 30px 1px;
  grid-template-areas:
      "char-description"
      "char-contacts"
      "char-bio";
  /*padding: 0em;*/
  position: relative;
  margin-top: 2em;
}

.tab.info {
  top: 2em;
  height: 39em;
  overflow-x: hidden;
}

.info-container .editor {
  border: 1px solid;
  border-radius: 2px;
}

.char-description {
  grid-area: char-description;
}

.char-bio {
  grid-area: char-bio;
}

.char-contacts {
  grid-area: char-contacts;
}

.char-description div[contenteditable], .char-contacts div[contenteditable] {
  border: 1px solid var(--s2d6-default-color);
  height: 95%;
  overflow-y: auto;
  color: var(--s2d6-light-color) !important;
  padding: 0.2em;
}

.char-bio div[contenteditable] {
  border: 1px solid var(--s2d6-default-color);
  height: 95%;
  overflow-y: auto;
  color: var(--s2d6-light-color) !important;
  padding: 0.2em;
}

/*-------- Notes Tab ----*/

.notes-container {
  margin-left: 1ch;
  padding-top: 5ch;
  height: 39em;
  width: 32em;
  margin-bottom: -3em;
  overflow-x: hidden;
  font-size: larger;
}

.notes-container .editor-content {
  border: 1px solid var(--s2d6-default-color);
}

.notes-container > div[contenteditable] {
  height: 33em;
  width: 30.2em;
  border: 1px solid var(--s2d6-default-color);
  border-radius: 0;
  font-size: 15px;
  color: var(--s2d6-light-color) !important;
  padding: 0.2em;
  overflow-y: auto;
}

/*----------- Ship Sheet ---------*/

.ship-container {
  display: grid;
  grid-template-columns: 28em 28em;
  grid-template-rows: 2.4em 8.5em 9em;
  gap: 1px 1px;
  grid-template-areas: "ship-image ship-name" "ship-image ship-info" "ship-image ship-requirements";
}

img.ship-mask-bg {
  top: 0.1em;
  left: 0;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.ship-image {
  grid-area: ship-image;
  text-align: center;
  height: 100%;
  z-index: 0;
}

.ship-image img {
  max-width: 100%;
  vertical-align: middle;
  z-index: -1;
  max-height: 100%;
}

.ship-deck {
  width: 19em;
  margin-left: 1.5em;
  margin-top: 0.4em;
  text-align: center;
}

.ship-deck-link {
  color: var(--color-text-hyperlink);
  border: solid;
  border-radius: 1ch;
  padding: 0.3ch;
  border-style: outset;
}

.ship-name {
  grid-area: ship-name;
  border-bottom: 2px solid var(--s2d6-default-color);
  z-index: 2;
  font-size: 27px;
  padding: 2px 2px 2px 4px;
}

.ship-name input[type="text"] {
  height: 1.3em;
  border: none;
  position: relative;
  top: -0.35em;
  width: auto;
}

.ship-info {
  grid-area: ship-info;
  z-index: 3;
  position: relative;
  width: 29em;
  color: var(--s2d6-stat-input);
}

.ship-info li {
  display: inline;
  list-style: none;
  padding: 5px;
}

.ship-info ul {
  padding: 0 !important;
}

.ship-info input {
  text-align: center;
  /*padding: 2px;
  margin-top: -0.2em;
  margin-left: 1.7em;*/
  font-size: 18px;
  width: 100%;
  border: none;
  background-color: transparent !important;
}

.ship-state-grid {
  display: grid;
  grid-template-columns: 7em 7em 7em 6em 5em;
  grid-template-rows: 10em;
  gap: 1px 6px;
  grid-template-areas: "ship-hull ship-fuel ship-armor ship-mass ship-tl";
  font-size: smaller;
}

.ship-state-grid span {
  margin-top: 0.5em;
  text-align: center;
}

.ship-armor {
  grid-area: ship-armor;
  display: grid;
  grid-template-rows: max-content;
  /*padding-right: 1ch;*/
}

.ship-armor-name textarea {
  border: solid;
  border-radius: 1ch !important;
  border-color: var(--s2d6-default-color);
  text-align: center;
  /*display: grid;*/
  resize: none;
  height: 100%;
}

.ship-hull {
  grid-area: ship-hull;
  display: grid;
  text-align: center;
  background-image: url(../assets/ship/hull.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ship-fuel {
  grid-area: ship-fuel;
  display: grid;
  background-image: url(../assets/ship/fuel.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ship-mass {
  grid-area: ship-mass;
  display: grid;
}

.ship-tl {
  grid-area: ship-tl;
  display: grid;
}

.ship-mass input, .ship-tl input {
  background-color: var(--s2d6-background-nearly-opaque) !important;
  border: solid;
  border-color: var(--s2d6-default-color);
  border-radius: 0.5ch !important;
}

/*.ship-mass input[type="number"], .ship-tl input[type="number"] {
  width: 100%;
  border: 1px solid var(--default-color);
  left: -1em;
  position: relative;
  border: none;
}*/

/*.ship-maintenance span {
  margin-left: -0.8em;
}*/

.ship-power-management {
  grid-area: ship-requirements;
  z-index: 3;
  text-align: center;
  background-image: url(../assets/ship/power-management.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 0.3em;
}

.ship-power-management h3 {
  color: black;
  font-weight: bold;
  position: relative;
  width: 16.5em;
  left: 7em;
}

.ship-power {
  position: relative;
  left: 1.5em;
  width: 5.3em;
  margin-right: -5.3em;
  margin-bottom: -2.43em;
  top: 0.23em;
}

.power-grid {
  display: grid;
  grid-template-columns: 3.82em 3.82em 3.82em 3.82em 3.82em;
  grid-template-rows: 1fr;
  gap: 2px 2px;
  grid-template-areas: ". . . . .";
  position: relative;
  left: 7.35em;
  top: -4.4em;
  margin-bottom: -4em;
  height: 4em;
}

.ship-stat input[type="number"] {
  text-align: center;
  width: 3.8em;
  background-color: transparent !important;
  border: none;
  height: auto;
  /*margin-top: 6px;*/
}

.small-font {
  font-size: x-small;
}

.red {
  color: var(--s2d6-damage-red);
}

.orange {
  color: var(--s2d6-damage-orange);
}

.ship-stat .red input[type="number"]{
  color: var(--s2d6-damage-red);
}

#ship-stat-red {
  color: var(--s2d6-damage-red) !important;
}

.power-grid input[type="text"] {
  font-size: 28px;
  position: relative;
  display: block;
  width: 54px;
  top: 0.20em;
  text-align: center;
  border: none;
  background-color: transparent !important;
}

/*--- Labels ---*/

.ship-power label {
  display: block;
  width: 4.2em;
  font-size: 18px;
  text-align: center;
  position: relative;
  top: -1.5em;
}

span.power-now {
  font-size: 10px;
  position: relative;
  display: block;
  width: auto;
  top: -2.8em;
}

span.power-max {
  font-size: 10px;
  position: relative;
  display: block;
  width: auto;
  top: -4.2em;
}

/*--- Input Fields ---*/

input.power-current {
  font-size: 18px;
  position: relative;
  left: 0;
  top: -1.9em;
  width: inherit;
  display: block;
  border: none;
  background-color: transparent !important;
}

input.power-total {
  font-size: 18px;
  position: relative;
  left: 0;
  top: -2em;
  width: inherit;
  display: block;
  border: none;
  background-color: transparent !important;
}

/*------------------*/

/*----------- Ship Tabs ----------*/

.ship-tabs {
  width: 27.5rem;
  display: block;
  margin-left: 22em;
  margin-top: -3em;
  z-index: 99;
  height: 46px;
}

a.ship-positions-tab {
  /*background-image: url(../assets/ship/ship-tabs.svg);*/
  background-position: 0.1em;
  display: block;
  height: 46px;
  padding: 1ch;
}

a.ship-crew-tab, a.ship-positions-tab {
  /*background-image: url(../assets/ship/ship-tabs.svg);*/
  background-position: 0.1em;
  display: block;
  height: 46px;
  padding: 1ch;
}

a.ship-crew-tab:hover, a.ship-positions-tab:hover {
  /*background-image: url(../assets/ship/ship-tabs-hover.svg);*/
  color: var(--s2d6-item-hover);
}

a.ship-crew-tab.active, a.ship-positions-tab.active {
  /*background-image: url(../assets/ship/ship-tabs-active.svg);*/
  color: var(--s2d6-item-active);
  text-shadow: none !important;
  background-color: var(--s2d6-default-color);
}

a.ship-storage-tab, a.ship-cargo-tab, a.ship-finance-tab, a.ship-component-tab {
  /*background-image: url(../assets/ship/ship-tabs.svg);*/
  background-position: -99px;
  display: block;
  height: 46px;
  padding: 1ch;
}

a.ship-storage-tab:hover, a.ship-cargo-tab:hover, a.ship-finance-tab:hover, a.ship-component-tab:hover {
  /*background-image: url(../assets/ship/ship-tabs-hover.svg);*/
  color: var(--s2d6-item-hover);
}

a.ship-storage-tab.active, a.ship-cargo-tab.active, a.ship-finance-tab.active, a.ship-component-tab.active {
  /*background-image: url(../assets/ship/ship-tabs-active.svg);*/
  color: var(--s2d6-item-active);
  text-shadow: none !important;
  background-color: var(--s2d6-default-color);
}

a.ship-notes-tab {
  /*background-image: url(../assets/ship/ship-tabs.svg);*/
  background-position: 7.1em;
  display: block;
  height: 46px;
  padding: 1ch;
}

a.ship-notes-tab:hover {
  /*background-image: url(../assets/ship/ship-tabs-hover.svg);*/
  background-position: 7em;
  display: block;
  height: 46px;
  padding: 1ch;
  color: var(--s2d6-item-hover);
}

a.ship-notes-tab.active {
  /*background-image: url(../assets/ship/ship-tabs-active.svg);*/
  background-position: 7em;
  color: var(--s2d6-item-active);
  text-shadow: none !important;
  display: block;
  height: 46px;
  padding: 1ch;
  background-color: var(--s2d6-default-color);
}


.ship-tabs-info.sheet-body {
  z-index: 99;
  position: relative;
}

.ship-grid {
  display: grid;
  grid-template-columns: 17em 17em 17em;
  grid-template-rows: 4em 4em 4em;
  gap: 0.6em 1em;
  grid-template-areas: ". .";
}

.ship-positions-grid {
  justify-content: space-evenly;
  display: flex;
  row-gap: 1em;
  flex-direction: row;
  flex-wrap: wrap;
}

.tab.ship-crew, .tab.ship-positions {
  width: 56.3em;
  padding-left: 2.5em;
  padding-right: 2em;
  margin-top: 1em;
  overflow: auto;
}

.ship-position-delete, .ship-position-edit {
  float: right;
  margin-top: 4px;
  margin-right: 4px;
  cursor: pointer;
}

.ship-position-box {
  width: 14.8em;
  min-height: 50px;
  border: 1px groove var(--s2d6-default-color);
  border-radius: 0;
}

.ship-position-add-box {
  text-align: center;
  min-height: 100px;
}

.ship-position-add-position {
  font-size: 40px;
  margin-top: 20px;
}

.ship-position-actor-token, .create-ship-position {
  cursor: pointer
}

.crew-list, .ship-positions-list {
  height: 18.4em;
}

.ship-grid input[type="text"] {
  width: 14.8em;
  border: 1px groove var(--s2d6-default-color);
  border-radius: 0;

}

.ship-grid > div > div[contenteditable] {
  width: 14.8em;
  border: 1px groove var(--s2d6-light-color) !important;
  border-radius: 0;
  min-height: 3em;
}

.storage-wrapper {
  margin-top: 1.1em;
  overflow-y: auto;
  height: 20em;
}

.grid-columns-double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ". .";
  margin-left: 1em;
  width: 54.4em;
}

.grid-columns-single {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1px;
  grid-template-areas: ".";
  margin-left: 1em;
  width: 54.4em;
}

.storage-stored {
  display: grid;
  grid-template-columns: 8.5em 5em 3em 3em 4em 3em;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . . . . .";
}

.storage-header {
  border: 2px solid var(--s2d6-default-color);
  background-color: var(--s2d6-default-color);
  color: var(--s2d6-item-active);
  position: sticky;
  top:0%;
  z-index: 20;
}

.components-stored-double {
  display: grid;
  grid-template-columns: 10.5em 4em 2em 3.5em 3.5em 3em;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . . . . .";
}

.grid-columns-double-row:nth-of-type(4n+3), .grid-columns-double-row:nth-of-type(4n+4) {
  background: var(--s2d6-skill-list-even);
}

.components-stored-single {
  display: grid;
  grid-template-columns: 20em 4em 4em 4em 4em 4em 4.5em 4em 3em;
  grid-template-rows: 1fr;
  gap: 1px;
  grid-template-areas: ". . . . . . . . .";
}

.grid-columns-single-row:nth-of-type(even) {
  background: var(--s2d6-skill-list-even);
}


.cargo-all {
  margin-top: 1.1em;
  overflow-y: auto;
  height: 20em;
}

.cargo-list {
  /*margin-top: 1.1em;*/
  overflow-y: auto;
  height: 12em;
  /*padding: 0 0.5em;*/
  margin-bottom: 1em;
}

.cargo-wrapper {
  padding: 0 1em;
  /*margin-top: 1em;*/
  position: relative;
  top: 1em;
  height: 15em;
}

.cargo-wrapper > div[contenteditable] {
  border: 1px solid var(--s2d6-default-color);
  height: 18em;
  color: var(--s2d6-light-color) !important;
  padding: 0.2em;
  overflow-y: auto;
}
.ship-notes-container, .ship-finances-container {
  margin-left: 3ch;
  padding-top: 2ch;
  height: 21em;
  width: 54em;
  overflow-x: hidden;
}

.ship-notes-container .editor, .ship-finances-container .editor, .cargo-wrapper .editor {
  border: 1px solid var(--s2d6-default-color);
  border-radius: 0 3px 3px;
  width: 100%;
  height: 90%;
  overflow-y: auto;
}

.ship-notes-container >div[contenteditable], .ship-finances-container >div[contenteditable] {
  border: 1px solid var(--s2d6-default-color);
  border-radius: 0 3px 3px;
  font-size: 15px;
  background-color: var(--s2d6-input-background) !important;
  color: var(--s2d6-background-opaque);
  padding: 0.2em;
  height: 90%;
  overflow-y: auto;
}
/*-------------------------------------------------*/

button.flexrow.flex-group-center.toggle-skills {
  width: 8em;
  left: 25em;
  position: relative;
  text-align: center;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: var(--s2d6-header-border);
  border: 1px solid var(--s2d6-default-color);
}

.mini-dice img.rollable {
  width: 1.5em;
  margin-left: 0;
}

/*--- Item Page ---*/

.small-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1em 2em;
  gap: 1px 1px;
  grid-template-areas:
      ". ."
      ". .";
  padding-top: 0.5em;
}

.item-page div[contenteditable] {
  width: 100%;
  min-height: 50px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid var(--s2d6-stat-input);
  border-radius: 1px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.item-container {
  display: grid;
  grid-template-columns: 15em 2em 2em 4em 6em 3em;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: '. . . . . .';
}

.item-container.items-list {
  margin-bottom: 2em;
  color: var(--s2d6-stat-input);
  margin-left: 1em;
  margin-top: 2em;
}

.items-list {
  position: relative;
  top: 1em;
}

.item.item-list {
  padding-left: 0.7em;
  margin: 0 0.4em -0.5em 0.3em;
}

a:hover {
  color: var(--s2d6-light-color);
  text-shadow: 0 0 5px var(--s2d6-default-color);
}

.item-type {
  position: relative;
  float: right;
  margin-bottom: 0.4em;
}

.item-tl {
  margin-top: 0.5em;
}

.item-price {
  margin-top: 0.5em;
}

.item-skill {
  margin-top: 0.5em;
}

.item-skillModifier {
  margin-top: 0.5em;
}

.item-ammo {
  margin-top: 0.5em;
}

.item-qty {
  margin-top: 0.5em;
}

.item-weight {
  margin-top: 0.5em;
}

.item-power {
  margin-top: 0.5em;
}

.item-damage {
  margin-top: 0.5em;
}

.form-section {
  margin-top: 0.5em;
}

.item-range {
  margin-top: 0.5em;
}

.item-descr {
  margin-top: 0.5em;
}

.item-lawLevel {
  margin-top: 0.5em;
}

.item-rangeBand {
  margin-top: 0.5em;
}

.item-weaponType {
  margin-top: 0.5em;
}

.item-damageType {
  margin-top: 0.5em;
}

.item-rateOfFire {
  margin-top: 0.5em;
}

.item-recoil {
  margin-top: 0.5em;
}

.item-short, .item-armor, .item-secondaryArmor, .item-radiationProtection, .item-lvl, .item-prereq, .mini-grid, .item-reference, .item-hits {
  margin-top: 0.5em;
}

.open-link {
  color: var(--color-text-hyperlink);
}

.item-descr div[contenteditable] {
  min-height: 140px;
  background: rgba(0, 0, 0, 0.22);
  border: none;
  padding: 0.5em;
}

.pusher {
  display: block;
  height: 2em;
}


.tabs .item.active {
  text-shadow: 0 0 10px var(--s2d6-light-color) !important;
}

/* ------ Item page - Consumables ------ */
.consumable-row {
  padding-right: 3px;
  width: 100%;
  /*height: 30px;*/
  text-align: right;
}

.consumable-row-npc {
  display: inline-block;
}
/*.consumable-row .wrapper {
  float: right;
}*/

.consumable-row .refill-button {
  width: 100px;
  height: 20px;
  border-radius: 10px;
  line-height: normal;
  cursor: pointer;
  margin-top: 0;
  margin-left: 5px;
}

.consumable-row .consumable-count {
  margin-left: 5px;
}

.consumable-row .refill-button[disabled], .combined-buttons button[disabled]  {
  cursor: default;
}

.combined-buttons {
  width: 40px;
  font-size: 0;
}

.combined-buttons button {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  line-height: normal;
  cursor: pointer;
  margin-top: -2px;
}
.consumable-row .combined-buttons button {
  margin-top: 0;
}

.left-button {
  border-radius: 10px 0 0 10px;
}

.right-button {
  border-left: 0 solid var(--s2d6-item-active);
  border-radius: 0 10px 10px 0;
}

.item-sheet .form-consumable-count {
  width: 50px;
  text-align: center;
}

.remove-consumable {
  text-align: center;
}

/*--- Chat Log ---*/

#sidebar-tabs.tabs .item.active {
  text-shadow: 0 0 2em var(--s2d6-default-color);
  text-decoration: none;
  background-color: var(--s2d6-default-color);
  color: var(--s2d6-background-opaque);
}

#sidebar-tabs.tabs a:hover {
  text-shadow: 0 0 0.8em var(--s2d6-light-color);
}

#chat-log .message {
  background: var(--s2d6-background-semi-opaque) none !important;
  border: 1px solid var(--s2d6-item-border);
  border-radius: 0;
  margin: 3px;
  padding: 5px;
  color: var(--s2d6-default-color);
  font-size: 14px;
  box-shadow: 0 0 7px var(--s2d6-dark-hover);
}

#chat-log .message .message-header {
  line-height: 20px;
  color: var(--s2d6-default-color) !important;
}

.table-description {
  color: var(--s2d6-stat-input) !important;
}

.chat-message .table-draw .table-results .table-result .result-text {
  color: var(--s2d6-dialog-color);
}

.chat-message .table-draw .table-results .table-result img.result-image {
background: var(--s2d6-sidebar-background);
}

.dice-roll .dice-formula, .dice-roll .dice-total {
  flex: 0 0 100%;
  position: relative;
  margin: 0;
  line-height: 24px;
  text-align: center;
  background: var(--s2d6-background-nearly-transparent);
  border: 1px solid var(--s2d6-default-color);
  border-radius: 1px;
  box-shadow: 0 0 2px var(--s2d6-background-opaque) inset;
  word-break: break-all;
  font-size: inherit;
}

.dice-roll .dice-total.crit-fail-roll {
  color: var(--s2d6-crit-fail);
}

.dice-roll .dice-total.crit-success-roll {
  color: var(--s2d6-crit-success);
}

.dice-tooltip .dice-rolls .roll.d6 {
  background-image: url(../assets/chatlog/d6.svg) !important;
}

.dice-tooltip .dice-rolls .roll.max {
  color: var(--s2d6-crit-success);
  filter: none !important;
}

.dice-tooltip .dice-rolls .roll.min {
  color: var(--s2d6-crit-fail);
  filter: none !important;
}

.dice-tooltip .dice-rolls .roll {
  width: 24px;
  line-height: 24px;
  float: left;
  margin-right: 1px;
  background-image: url(../assets/chatlog/d6.svg) !important;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  font-size: 16px;
  color: var(--s2d6-default-color);
  font-weight: bold;
  text-align: center;
}

#chat-form textarea {
  width: 100%;
  height: 100%;
  resize: none;
  color: var(--s2d6-light-color);
  background: var(--s2d6-background-opaque) !important;
  border-color: var(--s2d6-default-color) !important;
}

#chat-controls div.roll-type-select select {
  position: relative;
  width: 200px;
  height: 24px;
  top: -3px;
  border-color: var(--s2d6-default-color) !important;
}

.damage {
  border: var(--s2d6-damage-stat-color);
}

.damage-message {
  border-radius: 5px;
  border: 1px outset var(--s2d6-damage-stat-color);
  margin: 3px 3px 3px 20px;
  padding: 0.25em;
}

.damage-message:hover {
  box-shadow: 0 4px 8px 0 var(--s2d6-background-nearly-transparent), 0 6px 20px 0 var(--s2d6-background-nearly-transparent);
}


/*
#settings button {
    position: relative;
    margin: 0.5em 0;
    background-color: var(--dark-background);
    border-color: var(--default-color);
    color: #a8b8d0;
}
#settings button:hover {
    color: var(--2d6-light-color);
    border-color: var(--2d6-light-color);
}
form button {
    background: #000000a6 !important;
    border: 2px groove var(--item-border);
    color: #a2bce4;
}*/

/*--- INTERFACE MAKEUP ---*/

button {
  position: relative;
  margin: 0.5em 0;
  background-color: var(--s2d6-background-opaque) !important;
  border-color: var(--s2d6-default-color) !important;
  color: var(--s2d6-form-light) !important;
}

form button {
  background: var(--s2d6-background-opaque);
  border: 2px groove var(--s2d6-default-color);
}

button:hover {
  box-shadow: 0 0 5px var(--s2d6-default-color);
  color: var(--s2d6-light-color);
  border-color: var(--s2d6-light-color);
}

button:hover, button:focus {
  outline: none;
  box-shadow: 0 0 5px var(--s2d6-default-color) !important;
}

form .notes, form .hint {
  flex: 0 0 100%;
  font-size: 12px;
  line-height: 16px;
  color: var(--s2d6-form-light);
  margin: 3px 0;
}

#module-management .package-list .package-title, #module-management .package-list .package-metadata, #module-management .package-list .package-description {
  color: var(--s2d6-form-light);
}

.dialog .dialog-buttons button:last-child {
  margin-right: 0;
  border: 2px groove var(--s2d6-item-border);
  color: var(--s2d6-dialog-color);
  background-color: var(--s2d6-item-active);
}

.dialog .dialog-buttons button:last-child:hover {
  margin-right: 0;
  color: var(--s2d6-light-color);
  border-color: var(--s2d6-light-color);
}

option {
  background-color: var(--s2d6-item-active);
}

.window-app .window-header {
  /* flex: 0 0 30px; */
  overflow: hidden;
  padding: 0 8px;
  line-height: 30px;
  background-color: var(--s2d6-background-transparent);
  border: none !important;
  color: var(--s2d6-default-color);
  z-index: 99;
}

.window-app .window-content > * {
  flex: 1;
}

.app {
  max-height: 100%;
  background-image: url(../assets/bg2.jpg) !important;
  background-repeat: repeat-x !important;
  border-radius: 5px;
  box-shadow: 0 0 20px var(--s2d6-item-active);
  margin: 3px 0;
  padding: 0.5em;
  color: var(--s2d6-app-color);
  border: 1px solid var(--s2d6-header-border) !important;
  z-index: 30;
}

.window-app .window-resizable-handle {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -1px;
  right: -1px;
  background: var(--s2d6-background-opaque);
  padding: 2px;
  border: 1px solid var(--s2d6-header-border) !important;
  color: var(--s2d6-window-color);
  border-radius: 4px 0 0;
}

div.app.window-app.twodsix.sheet.actor header h4.window-title, div.app.window-app.twodsix.ship.actor header h4.window-title {
  margin-top: 0.25em !important;
  margin-left: 3em !important;
  position: relative;
  flex: none;
}

div.app.window-app.twodsix.sheet.actor header a.configure-sheet, div.app.window-app.twodsix.ship.actor header a.configure-sheet {
  position: absolute;
  left: 22em;
  top: 0.8em;
}

div.app.window-app.twodsix.sheet.actor header a.configure-token, div.app.window-app.twodsix.ship.actor header a.configure-token {
  position: absolute;
  left: 38.5em;
  top: 0.8em;
}

div.app.window-app.twodsix.sheet.actor header a.close {
  position: absolute;
  left: 50.5em;
  top: 0.7em;
}

div.app.window-app.twodsix.ship.actor header a.close {
  position: absolute;
  left: 51.5em;
  top: 0.7em;
}

#sidebar-tabs {
  flex: 0 0 32px;
  box-sizing: border-box;
  margin: 0 0 5px;
  border-bottom: 1px solid var(--s2d6-default-color);
  box-shadow: 0 0 10px var(--s2d6-light-color);
  background-color: var(--s2d6-background-opaque);
}

#sidebar-tabs > .item {
  position: relative;
  flex: 0 0 27px;
  line-height: 32px;
  border: 1px solid transparent;
  border-radius: 5px 5px 0 0;
  color: var(--s2d6-dialog-color);
}

#sidebar-tabs > .item:hover {
  color: var(--s2d6-light-color);
}

.sidebar-tab .directory-list .directory-item.context, .sidebar-tab .directory-list .directory-item.active {
  border-color: var(--s2d6-default-color);
  /*background-color: var(--sidebar-dark-background);*/
}

#sidebar-tabs > .item.active {
  color: var(--s2d6-light-color);
  border: 1px solid var(--s2d6-light-color);
  border-bottom: none;
  box-shadow: 0 0 6px inset var(--s2d6-default-color);
}

#sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: fixed;
  right: 5px;
  top: 5px;
  width: 320px;
  height: 99vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: none !important;
  /* border: none !important; */
  background-color: var(--s2d6-dark-hover)/*#0d0d0dad*/;
}

/* SCENE INTERFACE */

#navigation {
  position: fixed;
  top: 12px;
  left: 120px;
  width: calc(100% - 440px);
  margin: 0;
  padding: 0;
  box-shadow: none;
  background-color: var(--s2d6-background-transparent) !important;
  background-image: none !important;
  border: 1px groove var(--s2d6-background-transparent)/*#19181300*/ !important;
}

#controls .scene-control, #controls .control-tool, #controls .control-tool.toggle {
  background-color: var(--s2d6-background-nearly-opaque)!important;
}

#controls .scene-control.active, #controls .control-tool.active, #controls .scene-control:hover, #controls .control-tool:hover,#controls .control-tool.toggle.active,  #controls .control-tool.toggle:hover {
  color: var(--s2d6-item-hover) !important;
  border: 1px solid var(--s2d6-light-color)!important;
  border-bottom: 1px solid var(--s2d6-default-color)!important;
  box-shadow: 0 0 10px var(--s2d6-default-color)!important;
  background-color: var(--s2d6-background-opaque)!important;
}

#navigation #scene-list .scene.view, #navigation #scene-list .scene.context {
  cursor: default;
  color: var(--s2d6-item-hover);
  border: 1px solid var(--s2d6-light-color);
  background: var(--s2d6-nav-background);
  border-bottom: 1px solid var(--s2d6-default-color);
  box-shadow: 0 0 10px var(--s2d6-default-color);
}

#navigation #scene-list .scene.gm {
  background: var(--s2d6-background-opaque);
  border: 1px solid var(--s2d6-nav-background) !important;
}

#controls {
  /*position: fixed;*/
  top: 60px;
  left: 10px;
  padding: 10px;
  list-style: none;
  box-shadow: none;
  background-image: none !important;
  background-color: none !important;
  border: none !important;
}

#controls ol {
  background-image: none !important;
  border: none !important;
}

/* MACRO BAR */
#hotbar #macro-list{
  background-color: var(--s2d6-background-nearly-transparent);
}

#hotbar .macro:hover {
  box-shadow: 0 0 10px var(--s2d6-default-color) inset;
}

#hotbar .macro.active:hover {
  border: 1px solid var(--s2d6-light-color);
}

/* TOKEN SHEET */

.token-sheet .sheet-tabs {
  flex: 0 0 32px;
  border-bottom: 1px solid var(--s2d6-form-light);
  line-height: 10px;
  width: 32.5em;
}

.sheet-tabs {
  justify-content: space-between;
}

.token-sheet .notes {
  font-size: 13px;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid var(--s2d6-form-light);
  margin-top: 1.5em;
}

/* EDITOR */

.editor {
  height: 95%;
  background: var(--s2d6-background-semi-opaque);
  color: var(--s2d6-default-color);
}

.tox .tox-tbtn svg {
  display: block;
  fill: var(--s2d6-default-color) !important;
}

.tox .tox-tbtn:hover svg {
  fill: var(--s2d6-light-color) !important;
}

.tox .tox-tbtn--bespoke .tox-tbtn__select-label {
  color: var(--s2d6-default-color);
}

.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
  background: var(--s2d6-item-active) none !important;
  display: flex;
  flex: 0 0 auto;
  flex-shrink: 0;
  flex-wrap: wrap;
  padding: 0;
  border-bottom: 1px solid var(--s2d6-header-border);
}

.tox .tox-edit-area {
  display: flex;
  flex: 1;
  -ms-flex-preferred-size: auto;
  overflow: hidden;
  position: relative;
  padding-left: 0.5em;
  background-color: var(--s2d6-form-light);
}

.editor-content p {
  padding-left: 0.8em;
}

.editor-content {
  height: 95%;
}

.tox .tox-editor-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;
  background: var(--s2d6-light-background-transparent)/*rgba(215, 246, 253, 0.35)*/;
}

.ol-no-indent {
  list-style: none;
  padding-left: 0;
}

.header-row{
  text-align: center;
  background-color: var(--s2d6-default-color);
  color: var(--s2d6-background-opaque);
  background-image: radial-gradient(circle farthest-side, var(--s2d6-default-color), var(--s2d6-background-semi-opaque));
}
/* ------ WEBCAM Settings ------ */

#camera-views {
  position: fixed;
  bottom: 70px;
  left: 225px;
  width: calc(100% - 550px);
  margin: 0;
  padding: 0;
  align-items: baseline;
  z-index: 60;
  box-shadow: none;
  pointer-events: none;
  background: none !important;
  border: none !important;
}

/* ------ Damage Dialog ------ */

.damage-dialog .red {
  color: var(--s2d6-damage-red);
}

.damage-dialog .orange {
  color: var(--s2d6-damage-orange);
}

.damage-dialog .orange-border {
  border: 1px solid var(--s2d6-damage-orange);
}

.damage-dialog .mod, .damage-dialog .current-mod {
  font-size: 12px;
  color: var(--s2d6-stat-input);
  margin-left: 10px;
}

.damage-dialog .damage-input {
  width: 30px;
}

.damage-dialog .damage, .damage-dialog .armor{
  width: 50px;
}

.damage-dialog .center-table-text {
  text-align: center;
}

.damage-dialog .attribute-name-column {
  text-align: left;
}

.force-border {
  border: 1px solid yellow !important;
}
