body {
  font-family: Consolas, monospace;
}

/*div {border: thin dotted #FFF;}*/

.window-content {
    background-attachment: fixed !important;
    background-image: url(../assets/actor/bg2.jpg)!important;
    background-repeat: repeat-x !important;
    font-family: Consolas, monospace;
    color: #00E5FF !important;
}

.character-name h2 {
    margin-bottom: -0.5em;
    border: none;
}

h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #225078;
}

img {
    border: none !important;
    max-width: 100%;
}


input[type="text"], input[type="password"], input[type="datetime-local"] {
    background: rgba(0, 0, 0, 0.21);
    margin: 0;
    color: #6e819e !important;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    line-height: inherit;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    border: none;
}


.grid-container {
  height: 600px;
  width: 800px;
  display: grid;
  grid-template-columns: 38% 20.5% 20.5% 20%;
  grid-template-rows: 5% 45% 45% 5%;
  gap: 1px 1px;
  grid-template-areas: "character-info character-tabs character-tabs character-tabs" "character-info character-tabs-info character-tabs-info character-tabs-info" "character-info character-tabs-info character-tabs-info character-tabs-info" "character-info character-tabs-info character-tabs-info character-tabs-info";
}


.character-info {
	grid-area: character-info;
    margin-left: -8px;
    margin-top: -2px;
	position: relative;
}

img.character-info-mask {
    z-index: 4;
    position: absolute;
    pointer-events: none;
}

.character-tabs { grid-area: character-tabs; }

.character-photo {
    margin-top: -0.3em;
    margin-left: 0.3em;
    position: absolute;
    width: 97%;
    height: 100%;
    z-index: 0;
}

.character-photo img {
    width: 100%;
    vertical-align: middle;
    z-index: -1;
}

.helper {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
	height: 1em;
}
.character-name {
    position: relative;
    top: 1em;
    text-align: center;
    z-index: 6;
}

.character-name input[type="text"] {
    height: 1.6em;
    margin: 0.1em;
    background-color: #000;
    border: 3px solid #29aae1;
    margin-left: -0.05em;
    position: relative;
    top: -0.45em;
    width: 14em;
}

.character-bgi {
    margin-left: 1em;
    margin-right: 1em;
    position: relative;
    top: 20.8em;
    z-index: 6;
}

.bgi-age input {width: 1.5em;}
.bgi-gender input {width: 3.5em;}
.bgi-species input {width: 9.1em;}
.bgi-homeworld input {width: 8em;}

span.bgi-age {margin-right: 4em;}
.character-bgi span {margin-right: 4em;}

.character-characteristics {
    width: 21em;
    margin-top: 21.5em;
    margin-left: 0.5em;
    position: relative;
    z-index: 6;
}

.stat {
    background-image: url(../assets/actor/statblock1.svg);
    height: 4em;
    width: 5.5em;
    background-size: cover;
    display: inline-block;
    margin-top: 2.5em;
    margin-left: 0.5em;
    margin-right: -1em;
}

.stat input, .special input {
    width: 1.5em;
    text-align: center;
    margin-left: -0.1em;
}

.special {
    background-image: url(../assets/actor/psiblock1.svg);
    height: 4.5em;
    width: 5.5em;
    background-size: cover;
    position: relative;
    right: -15.0em;
    top: -8.2em;
}

span.stat-name {
    position: relative;
    left: 1.7em;
    top: -1.5em;
    font-size: 1.2em;
}

span.stat-ability {
	margin: -0.3em;
    position: relative;
    left: -0.9em;
    top: 0.4em;
}

span.stat-modifier {
    margin: -5px;
    position: relative;
    left: -0.2em;
    top: 0.4em;
}

span.stat-damage {
    position: relative;
    left: 2.35em;
    top: 0.6em;
}

span.special-name {
    position: relative;
    top: -1.1em;
    right: -1.85em;
    font-size: 1.2em;
}

span.special-ability {
    position: relative;
    top: 0.4em;
}

span.special-modifier {
    margin: -5px;
    position: relative;
    left: 0.7em;
    top: 0.8em;
}

span.special-damage {
    position: relative;
    left: 3.8em;
    top: -0.3em;
}

svg:hover {
  fill: red;
}

.character-tabs { grid-area: character-tabs; }

.character-tabs .tabs {
    position: relative;
    top: 0.4em;
    left: 2.75em;
    z-index: 0;
    width: 29.5em;
}

.character-tabs a.item {
    border: 1px solid;
    padding: 0.3em 1.0em 0.3em 1.0em;
    background-color: #000000a6;
    text-align: center;
}

.character-tabs-info {
    grid-area: character-tabs-info;
    background-image: url(../assets/actor/tabs-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

/* TABS */

.tabs .item.active {
    text-shadow: 0 0 2em #29aae1;
    text-decoration: underline;
}

.tabs .item.active {
    text-shadow: 0 0 2em #29aae1;
    text-decoration: underline;
}

a:hover {
    text-shadow: 0 0 8px #29aae1;
  }

/* Style overrides */

::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: #225078;
    border: 1px solid #29aae1;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="datetime-local"]:focus {
    box-shadow: 0 0 5px #29aae1;
}

select {
    height: 25px;
    background: #000000a6 !important;
    border: 1px solid #7a7971;
    border-radius: 3px;
    padding: 0 3px;
    text-overflow: ellipsis;
    color: #6e819e;
}

select:focus {
    box-shadow: 0 0 5px #29aae1;
    outline: none;
    background: #000000a6;
}

form button {
    background: #000000a6 !important;
    border: 2px groove #6e819e;
    color: #a2bce4;
}

button:hover {
    box-shadow: 0 0 5px #29aae1;
    color: #00e5ff;
    border-color: #00e5ff;
  }

form .notes, form .hint {
    flex: 0 0 100%;
    font-size: 12px;
    line-height: 16px;
    color: #bfbfbf;
    margin: 3px 0;
}

#module-management .package-list .package-title, #module-management .package-list .package-metadata, #module-management .package-list .package-description {
    color: #bfbfbf;
}

.dialog .dialog-buttons button:last-child {
    margin-right: 0;
    border: 2px groove #6e819e;
    color: #a2bce4;
    background-color: #000;
}

.dialog .dialog-buttons button:last-child:hover {
    margin-right: 0;
    color: #00e5ff;
    border-color: #00e5ff;
}

option {background-color: #000;}
