<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.data.name}}" height="100" width="100"
             alt="actor image"/>
        <div class="header-fields">
            <h1 class="charname">
                <label>
                    <input name="name" type="text" value="{{data.name}}" placeholder="Name"/>
                </label></h1>
        </div>
        {{!-- The grid classes are defined in styles/global/_grid.scss. To use,
        use both the "grid" and "grid-Ncol" class where "N" can be any number
        from 1 to 12 and will create that number of columns. --}}
        <div class="characteristics grid grid-3col">
            <div class="characteristic flexrow flex-group-center">
                <label></label>
                <span>Value</span>
                <span>Curr</span>
                <span>Dmg</span>
                <span>Mod</span>
            </div>
            {{#each data.characteristics as |characteristic key|}}
            <div class="characteristic flexrow flex-group-center">
                <label class="resource-label">{{characteristic.short}}</label>
                <input type="text" min="0" name="data.characteristics.{{key}}.value" value="{{characteristic.value}}" />
<!--                <span data-label="characteristics.{{value}}">{{numberFormat characteristic.value decimals=0}}</span>-->
<!--                <input type="text" name="data.characteristics.{{key}}.current" value="{{characteristic.current}}" />-->
                <span data-label="characteristics.{{current}}">{{numberFormat characteristic.current decimals=0}}</span>
                <input type="text" max="{{characteristic.value}}" min="0"  name="data.characteristics.{{key}}.damage" value="{{characteristic.damage}}" data-dtype="Number"/>
                <span class="characteristic-mod rollable-characteristic draggable"  data-label="{{key}}">{{numberFormat characteristic.mod decimals=0 sign=true}}</span>
            </div>
            {{/each}}
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="ucf">UCF</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="personal-info">Personal info</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <div class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name">Name</div>
                <div class="item-controls">
                    <a class="item-control item-create" title="Add new skill" data-type="skill"><i
                            class="fas fa-plus"></i> Add new skill</a>
                </div>
            </div>

            {{#unless data.flags.locked}} <!-- TODO Add lock...-->
            {{/unless}}
            {{> "systems/twodsix/templates/actors/parts/actor-skills.html"}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            {{#unless data.flags.locked}}
            <div style='flex:initial;'>
                <div class="add-item button" title="Add Item2" data-type="gear" data-item-type="skill">Add item</div>
            </div>
            {{/unless}}
            {{> "systems/twodsix/templates/actors/parts/actor-items.html"}}
        </div>

        {{!-- Personal Info Tab --}}
        <div class="tab personal-info" data-group="primary" data-tab="personal-info">
            {{> "systems/twodsix/templates/actors/parts/actor-personal-info.html"}}
        </div>
    </section>
</form>
