<form class="{{cssClass}} flexcol" autocomplete="off">
  <img class="content-background" src="/systems/twodsix/assets/actor/Interface-Bg.svg" alt="?"/>
  <div class="content-container">
    <div class="character-info">
      <img class="character-info-mask" src="/systems/twodsix/assets/actor/Interface-Overlay-1.svg" alt="?"/>
      <div class="character-photo">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" alt='{{localize "TWODSIX.Actor.CharacterImage"}}'/>
        {{#if actor.data.settings.ExperimentalFeatures}}
        <div>
          <span class="bgi-armor">{{localize "TWODSIX.Items.Armor.Armor"}}:<input name="data.primaryArmor.value" type="text" value="{{data.primaryArmor.value}}"
                                                                                  placeholder='0' onClick="this.select();"/></span>
          <span class="bgi-armor">/<input name="data.secondaryArmor.value" type="text" value="{{data.secondaryArmor.value}}"
                                          placeholder='0' onClick="this.select();"/></span>
          <span class="bgi-armor">{{localize "TWODSIX.Items.Armor.RadProt"}}:<input name="data.radiationProtection.value" type="text" value="{{data.radiationProtection.value}}"
                                                       placeholder='0' onClick="this.select();"/></span>
        </div>
        {{/if}}
      </div>
      <div class="character-name"><input name="name" type="text" value="{{actor.name}}" placeholder='{{localize "TWODSIX.Actor.CharacterName"}}'
                                         onClick="this.select();"/></div>
      <div class="character-bgi">
        <span class="bgi-age">{{localize "TWODSIX.Actor.Age"}}:<input type="text" name="data.age.value" value="{{data.age.value}}"
                                                                      placeholder="0"/></span>
        <span class="bgi-gender">{{localize "TWODSIX.Actor.Gender"}}:<input name="data.gender" type="text" value="{{data.gender}}"
                                                                            placeholder='{{localize "TWODSIX.Actor.Gender"}}' onClick="this.select();"/></span>
        <span class="bgi-species">{{localize "TWODSIX.Actor.Species"}}:<input name="data.species" type="text" value="{{data.species}}"
                                                                              placeholder='{{localize "TWODSIX.Actor.Species"}}' onClick="this.select();"/></span>
        <span class="bgi-homeWorld">{{localize "TWODSIX.Actor.HomeWorld"}}:<input name="data.homeWorld" type="text" value="{{data.homeWorld}}"
                                                                                  placeholder='{{localize "TWODSIX.Actor.HomeWorld"}}' onClick="this.select();"/></span>
      </div>

      <div class="character-characteristics">
        <div class="stat strength" data-characteristic="strength">
          <span class="stat-name rollable" title="{{twodsix_invertSkillRollShiftClick}}" data-roll="2d6+{{data.characteristics.strength.mod}}" data-label="{{data.characteristics.strength.shortLabel}}"
          >{{localize "TWODSIX.Actor.Characteristics.STR"}} <img src="./systems/twodsix/assets/d6-icon.svg" alt="roll strength"/></span>

          <span class="stat-ability"><input type="number" min="0" name="data.characteristics.strength.value"
                                            data-label="data.characteristics.strength.value" value="{{data.characteristics.strength.value}}"
                                            placeholder="0" data-dtype="Number" onClick="this.select();"/></span>
          <span class="stat-modifier"><input readonly type="text"
                                             value="{{numberFormat data.characteristics.strength.mod decimals=0 sign=true}}"/></span>
          <span class="stat-damage"><input type="number" max="{{data.characteristics.strength.value}}" min="0"
                                           name="data.characteristics.strength.damage" value="{{data.characteristics.strength.damage}}"
                                           placeholder="0" data-dtype="Number" onClick="this.select();"/></span>
        </div>

        <div class="stat dexterity" data-characteristic="dexterity">
          <span class="stat-name rollable" title="{{twodsix_invertSkillRollShiftClick}}" data-roll="2d6+{{data.characteristics.dexterity.mod}}" data-label="{{data.characteristics.dexterity.shortLabel}}"
          >{{localize "TWODSIX.Actor.Characteristics.DEX"}} <img src="./systems/twodsix/assets/d6-icon.svg" alt="roll dexterity"/>
          </span>

          <span class="stat-ability"><input type="number" min="0" name="data.characteristics.dexterity.value"
                                            data-label="data.characteristics.dexterity.value" value="{{data.characteristics.dexterity.value}}"
                                            placeholder="0" data-dtype="Number" onClick="this.select();"/></span>
          <span class="stat-modifier"><input readonly type="text"
                                             value="{{numberFormat data.characteristics.dexterity.mod decimals=0 sign=true}}"/></span>
          <span class="stat-damage"><input type="number" max="{{data.characteristics.dexterity.value}}" min="0"
                                           name="data.characteristics.dexterity.damage" value="{{data.characteristics.dexterity.damage}}"
                                           placeholder="0" data-dtype="Number" onClick="this.select();"/></span>
        </div>

        <div class="stat endurance" data-characteristic="endurance">
          <span class="stat-name rollable" title="{{twodsix_invertSkillRollShiftClick}}" data-roll="2d6+{{data.characteristics.endurance.mod}}" data-label="{{data.characteristics.endurance.shortLabel}}"
          >{{localize "TWODSIX.Actor.Characteristics.END"}} <img src="./systems/twodsix/assets/d6-icon.svg" alt="roll endurance"/>
        </span>

          <span class="stat-ability"><input type="number" min="0" name="data.characteristics.endurance.value"
                                            data-label="data.characteristics.endurance.value" value="{{data.characteristics.endurance.value}}"
                                            placeholder="0" data-dtype="Number" onClick="this.select();"/></span>
          <span class="stat-modifier"><input readonly type="text"
                                             value="{{numberFormat data.characteristics.endurance.mod decimals=0 sign=true}}"/></span>
          <span class="stat-damage"><input type="number" max="{{data.characteristics.endurance.value}}" min="0"
                                           name="data.characteristics.endurance.damage" value="{{data.characteristics.endurance.damage}}"
                                           placeholder="0" data-dtype="Number" onClick="this.select();"/></span>
        </div>

        <div class="stat intelligence" data-characteristic="intelligence">
          <span class="stat-name rollable" title="{{twodsix_invertSkillRollShiftClick}}" data-roll="2d6+{{data.characteristics.intelligence.mod}}" data-label="{{data.characteristics.intelligence.shortLabel}}"
          >{{localize "TWODSIX.Actor.Characteristics.INT"}} <img src="./systems/twodsix/assets/d6-icon.svg" alt="roll intelligence"/>
        </span>

          <span class="stat-ability"><input type="number" min="0" name="data.characteristics.intelligence.value"
                                            data-label="data.characteristics.intelligence.value" value="{{data.characteristics.intelligence.value}}"
                                            placeholder="0" data-dtype="Number" onClick="this.select();"/></span>
          <span class="stat-modifier"><input readonly type="text"
                                             value="{{numberFormat data.characteristics.intelligence.mod decimals=0 sign=true}}"/></span>
          <span class="stat-damage"><input type="number" max="{{data.characteristics.intelligence.value}}" min="0"
                                           name="data.characteristics.intelligence.damage" value="{{data.characteristics.intelligence.damage}}"
                                           placeholder="0" data-dtype="Number" onClick="this.select();"/></span>
        </div>

        <div class="stat education" data-characteristic="education">
          <span class="stat-name rollable" title="{{twodsix_invertSkillRollShiftClick}}" data-roll="2d6+{{data.characteristics.education.mod}}" data-label="{{data.characteristics.education.shortLabel}}"
          >{{localize "TWODSIX.Actor.Characteristics.EDU"}} <img src="./systems/twodsix/assets/d6-icon.svg" alt="roll education"/>
        </span>

          <span class="stat-ability"><input type="number" min="0" name="data.characteristics.education.value"
                                            data-label="data.characteristics.education.value" value="{{data.characteristics.education.value}}"
                                            placeholder="0" data-dtype="Number" onClick="this.select();"/></span>
          <span class="stat-modifier"><input readonly type="text"
                                             value="{{numberFormat data.characteristics.education.mod decimals=0 sign=true}}"/></span>
          <span class="stat-damage"><input type="number" max="{{data.characteristics.education.value}}" min="0"
                                           name="data.characteristics.education.damage" value="{{data.characteristics.education.damage}}"
                                           placeholder="0" data-dtype="Number" onClick="this.select();"/></span>
        </div>

        <div class="stat socialStanding" data-characteristic="socialStanding">
          <span class="stat-name rollable" title="{{twodsix_invertSkillRollShiftClick}}" data-roll="2d6+{{data.characteristics.socialStanding.mod}}" data-label="{{data.characteristics.socialStanding.shortLabel}}"
          >{{localize "TWODSIX.Actor.Characteristics.SOC"}} <img src="./systems/twodsix/assets/d6-icon.svg" alt="roll socialStanding"/>
        </span>

          <span class="stat-ability"><input type="number" min="0" name="data.characteristics.socialStanding.value"
                                            data-label="data.characteristics.socialStanding.value" value="{{data.characteristics.socialStanding.value}}"
                                            placeholder="0" data-dtype="Number" onClick="this.select();"/></span>
          <span class="stat-modifier"><input readonly type="text"
                                             value="{{numberFormat data.characteristics.socialStanding.mod decimals=0 sign=true}}"/></span>
          <span class="stat-damage"><input type="number" max="{{data.characteristics.socialStanding.value}}" min="0"
                                           name="data.characteristics.socialStanding.damage" value="{{data.characteristics.socialStanding.damage}}" placeholder="0"
                                           data-dtype="Number" onClick="this.select();"/></span>
        </div>

        <div class="special psionicStrength" data-characteristic="psionicStrength">
          <span class="special-name rollable" title="{{twodsix_invertSkillRollShiftClick}}" data-roll="2d6+{{data.characteristics.psionicStrength.mod}}" data-label="{{data.characteristics.psionicStrength.shortLabel}}"
          >{{localize "TWODSIX.Actor.Characteristics.PSI"}} <img src="./systems/twodsix/assets/d6-icon.svg" alt="roll psionicStrength"/>
        </span>

          <span class="special-ability"><input type="number" min="0" name="data.characteristics.psionicStrength.value"
                                               data-label="data.characteristics.psionicStrength.value" value="{{data.characteristics.psionicStrength.value}}"
                                               placeholder="0" data-dtype="Number" onClick="this.select();"/></span>
          <span class="special-damage"><input type="number" max="{{data.characteristics.psionicStrength.value}}" min="0"
                                              name="data.characteristics.psionicStrength.damage" value="{{data.characteristics.psionicStrength.damage}}"
                                              placeholder="0" data-dtype="Number" onClick="this.select();"/></span>
          <span class="special-modifier"><input readonly type="text"
                                                value="{{numberFormat data.characteristics.psionicStrength.mod decimals=0 sign=true}}"/></span>

        </div>
      </div>
    </div>

    {{!-- Sheet Body --}}
    <div class="character-tabs-info sheet-body">

      {{!-- Sheet Tab Navigation --}}
      <div class="character-tabs">
        <nav class="sheet-tabs tabs" data-group="primary">
          <a class="item skill-tab" data-tab="skills">{{localize "TWODSIX.Actor.Tabs.Skills"}}</a>
          <a class="item item-tab" data-tab="inventory">{{localize "TWODSIX.Actor.Tabs.Inventory"}}</a>
          <a class="item finances-tab" data-tab="finances">{{localize "TWODSIX.Actor.Tabs.Finances"}}</a>
          <a class="item info-tab" data-tab="info">{{localize "TWODSIX.Actor.Tabs.Info"}}</a>
          <a class="item notes-tab" data-tab="notes">{{localize "TWODSIX.Actor.Tabs.Notes"}}</a>
        </nav>
      </div>

      {{!-- Skills Tab --}}
      <div class="tab skills" data-group="primary" data-tab="skills">
        {{> "systems/twodsix/templates/actors/parts/actor/actor-skills.html"}}
      </div>

      {{!-- Owned Items Tab --}}
      <div class="tab inventory" data-group="primary" data-tab="inventory">
        {{> "systems/twodsix/templates/actors/parts/actor/actor-items.html"}}
      </div>

      {{!-- Finances Tab --}}
      <div class="tab finances" data-group="primary" data-tab="finances">
        {{> "systems/twodsix/templates/actors/parts/actor/actor-finances.html"}}
      </div>

      {{!-- Biography Tab --}}
      <div class="tab info" data-group="primary" data-tab="info">
        {{> "systems/twodsix/templates/actors/parts/actor/actor-info.html"}}
      </div>

      {{!-- Notes Tab --}}
      <div class="tab notes" data-group="primary" data-tab="notes">
        {{> "systems/twodsix/templates/actors/parts/actor/actor-notes.html"}}
      </div>

    </div>
  </div>
</form>
