<div class="damage-dialog">
  {{#with stats}}
  <table class="center-table-text">
    <thead>
      <tr>
        <td>{{localize "TWODSIX.Damage.Damage"}}</td>
        <td>{{localize "TWODSIX.Items.Armor.Armor"}}</td>
        <td>{{localize "TWODSIX.Items.Armor.SecondaryArmor"}}</td>
        <td>{{localize "TWODSIX.Actor.Items.EffectiveArmor"}}</td>
        <td>{{localize "TWODSIX.Damage.TotalDamage"}}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="number" value="{{damageValue}}" class="damage"></td>
        <td><input type="number" value="{{primaryArmor}}" class="armor" readonly></td>
        <td><input type="number" value="{{secondaryArmor}}" class="armor" readonly></td>
        <td><input type="number" value="{{effectiveArmor}}" class="armor"></td>
        <td class="applied-damage"></td>
      </tr>
      {{#iff damageLabel "!==" "---"}}
      <tr>
        <td>({{damageLabel}})</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {{/iff}}
    </tbody>
  </table>

  <b>{{localize "TWODSIX.Damage.Characteristics"}}:</b><br>
  <table class="center-table-text">
    <thead>
      <tr>
        <td class="attribute-name-column"></td>
        <td>{{localize "TWODSIX.Damage.Max"}}</td>
        <td>{{localize "TWODSIX.Damage.Current"}}</td>
        <td>{{localize "TWODSIX.Damage.Damage"}}</td>
        <td>{{localize "TWODSIX.Damage.ResultingStat"}}</td>
      </tr>
    </thead>
    <tbody>
      {{#if useLifebloodStamina}}
        <tr class="stamina">
          <td class="attribute-name-column">{{localize "TWODSIX.Items.Skills.STA"}}</td>
          <td class="original-value">{{originalCharacteristics.stamina.value}}</td>
          <td><span class="original-current">{{originalCharacteristics.stamina.current}}</span> <span class="current-mod"></span></td>
          <td><input class="damage-input" data-stat="stamina" type="number" value="{{stamina.damage}}"></td>
          <td><span class="result-value"></span> <span class="mod"></span></td>
        </tr>
        <tr class="lifeblood">
          <td class="attribute-name-column">{{localize "TWODSIX.Items.Skills.LFB"}}</td>
          <td class="original-value">{{originalCharacteristics.lifeblood.value}}</td>
          <td><span class="original-current">{{originalCharacteristics.lifeblood.current}}</span> <span class="current-mod"></span></td>
          <td><input class="damage-input" data-stat="lifeblood" type="number" value="{{lifeblood.damage}}"></td>
          <td><span class="result-value"></span> <span class="mod"></span></td>
        </tr>
      {{else if useLifebloodOnly}}
        <tr class="lifeblood">
          <td class="attribute-name-column">{{localize "TWODSIX.Items.Skills.HIT"}}</td>
          <td class="original-value">{{originalCharacteristics.lifeblood.value}}</td>
          <td><span class="original-current">{{originalCharacteristics.lifeblood.current}}</span> <span class="current-mod"></span></td>
          <td><input class="damage-input" data-stat="lifeblood" type="number" value="{{lifeblood.damage}}"></td>
          <td><span class="result-value"></span> <span class="mod"></span></td>
        </tr>
      {{else}}
        <tr class="strength">
          {{#if useLifebloodEndurance}}
            <td class="attribute-name-column">{{localize "TWODSIX.Items.Skills.LFB"}}</td>
          {{else}}
            <td class="attribute-name-column">{{localize "TWODSIX.Items.Skills.STR"}}</td>
          {{/if}}
          <td class="original-value">{{originalCharacteristics.strength.value}}</td>
          <td><span class="original-current">{{originalCharacteristics.strength.current}}</span> <span class="current-mod"></span></td>
          <td><input class="damage-input" data-stat="strength" type="number" value="{{strength.damage}}"></td>
          <td><span class="result-value"></span> <span class="mod"></span></td>
        </tr>
        {{#unless useLifebloodEndurance}}
        <tr class="dexterity">
          <td class="attribute-name-column">{{localize "TWODSIX.Items.Skills.DEX"}}</td>
          <td class="original-value">{{originalCharacteristics.dexterity.value}}</td>
          <td><span class="original-current">{{originalCharacteristics.dexterity.current}}</span> <span class="current-mod"></span></td>
          <td><input class="damage-input" data-stat="dexterity" type="number" value="{{dexterity.damage}}"></td>
          <td><span class="result-value"></span> <span class="mod"></span></td>
        </tr>
        {{/unless}}
        <tr class="endurance">
          <td class="attribute-name-column">{{localize "TWODSIX.Items.Skills.END"}}</td>
          <td class="original-value">{{originalCharacteristics.endurance.value}}</td>
          <td><span class="original-current">{{originalCharacteristics.endurance.current}}</span> <span class="current-mod"></span></td>
          <td><input class="damage-input" data-stat="endurance" type="number" value="{{endurance.damage}}"></td>
          <td><span class="result-value"></span> <span class="mod"></span></td>
        </tr>
      {{/if}}
    </tbody>
  </table>

  <span class="unalocated-damage-text">{{localize "TWODSIX.Damage.UnallocatedDamage"}}: <span class="unalocated-damage"></span></span><br><br>
  <span class="character-dead red">{{localize "TWODSIX.Damage.CharacterIsDead"}}</span>

  <br><br>
  {{/with}}
</div>
