<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="npc-content-container">
    <div class="npc-name-photo">
      <div class="character-photo npc">
        <img class="profile-img" src="{{actor.img}}" {{#unless limited}}data-edit="img"{{/unless}} title="{{actor.name}}" alt='{{localize "TWODSIX.Actor.CharacterImage"}}'/>
      </div>
      <div class="character-name npc"><input name="name" type="text" value="{{actor.name}}" placeholder='{{localize "TWODSIX.Actor.CharacterName"}}'
                                         onClick="this.select();" class="npc"/></div>
    </div>
    {{#unless limited}}
    <div class="npc-bgi-stats">
      <div class="character-bgi npc">
        {{#if actor.data.settings.showLifebloodStamina}}
          {{> "systems/twodsix/templates/actors/parts/actor/actor-bgi-cd.html"}}
        {{else}}
          {{> "systems/twodsix/templates/actors/parts/actor/actor-bgi-std.html"}}
        {{/if}}
      </div>
        {{> "systems/twodsix/templates/actors/parts/actor/actor-characteristics-table.html"}}
    </div>
    {{/unless}}
    <div class="npc-notes-container">
      <span class="item-title-npc">{{localize "TWODSIX.Actor.Notes.NOTES"}}</span>
      <div contenteditable="true" data-edit="data.notes" style="height: 90%;">{{{data.notes}}}</div>
    </div>
    <div class="npc-skills">
      <span class="item-title-npc">{{localize "TWODSIX.Actor.Tabs.Skills"}}</span>
      <p>
      {{#each_sort_by_name data.skills as |item id|}}
        {{#if (twodsix_hideUntrainedSkills item.data.data.value)}}
          <!-- Hiding {{item.name}} -->
        {{else}}
          {{#if (twodsix_filterSkills item)}}

              <span class="item" data-item-id="{{item.id}}">
                <span class="item-name rollable" data-label="{{item.name}}" title="{{twodsix_invertSkillRollShiftClick}}">{{item.name}}</span>&nbsp;<input style="width: 3ch;" class= "item-value-edit" type="number" value="{{item.data.data.value}}"/>,
              </span>
          {{/if}}
       {{/if}}
      {{/each_sort_by_name}}
      {{#if (twodsix_hideUntrainedSkills -1)}}
      <span class="item" data-item-id="{{untrainedSkill.id}}">
          <text class="item-name rollable" title="{{twodsix_invertSkillRollShiftClick}}">{{untrainedSkill.name}}</text>
          <input style="width: 3ch;" class="item-value-edit" type="number" value= "{{untrainedSkill.data.data.value}}" readonly/>
      </span>
      {{/if}}
      </p>
    </div>
  </div>
</form>
