<form class="{{cssClass}} flexcol" autocomplete="off">
  {{#if settings.showSpells}}
  <div class="npc-content-container-spells">
  {{else}}
  <div class="npc-content-container">
  {{/if}}
    <div class="npc-name-photo">
      <div class="character-photo npc" style="min-height: 75%;">
        <img class="profile-img" src="{{actor.img}}" {{#unless limited}}data-edit="img"{{/unless}} data-tooltip="{{actor.name}}" alt='{{localize "TWODSIX.Actor.CharacterImage"}}' />
        {{#if settings.showStatusIcons}}
        <span class="status-icons">
            {{#each actor.effects as |anEffect|}}
            {{actor.effects}}
              <img class="condition-icon" src="{{anEffect.icon}}" data-tooltip="{{anEffect.label}}" data-uuid= "{{anEffect.uuid}}" style="border: 1px solid {{anEffect.tint}} !important;"/>
            {{/each}}
        {{/if}}
      </div>
      <div class="character-name npc" style="width: 100% !important; height: 26px !important;"><input name="name" type="text" value="{{actor.name}}" placeholder='{{localize "TWODSIX.Actor.CharacterName"}}'
                                         onClick="this.select();"/></div>
      {{#if settings.showInitiativeButton}}
        <div class = "initiative">
          <button class="roll-initiative"><i class="fa-solid fa-dice" alt="2d6"></i>{{localize "TWODSIX.Rolls.RollInitiative"}}</button>
        </div>
      {{/if}}
    </div>
    <div class="npc-bgi-stats">
      <div class="character-bgi-npc">
          {{> "systems/twodsix/templates/actors/parts/actor/actor-bgi-cd.html"}}
      </div>
      {{#unless limited}}
        <table class="stat-table-npc">
          {{> "systems/twodsix/templates/actors/parts/actor/actor-characteristics-table.html"}}
        </table>
      {{/unless}}
    </div>
    <div class="npc-notes-container">
      <span class="item-title-npc">{{localize "TWODSIX.Actor.Notes.Notes"}}</span>
      {{#unless limited}}
      <div contenteditable="true" data-edit="system.notes" style="height: 90%; border-radius: 0 0 2ch 2ch !important; overflow-y: auto; padding-left: 2px;">{{{system.notes}}}</div>
     {{/unless}}
    </div>
    <div class="npc-skills">
      <span class="item-title-npc">{{localize "TWODSIX.Actor.Tabs.Skills"}}</span>
      {{#unless limited}}
      <div style="margin-left: 1ch;">
        <span class="fixed-item" data-item-id="{{joat-skill-input}}" >
            <span class="item-name" >{{localize "TWODSIX.Actor.Skills.JOAT"}}</span>
            <input type="number" value="{{jackOfAllTrades}}" id="joat-skill-input" style="text-align: center; width: 3ch;"/>,
        </span>
      {{#each_sort_item container.skills as |item id|}}
              <span class="item" data-item-id="{{item.id}}" style = "display: inline-block;">
                <span class="item-name rollable" data-label="{{item.name}}" data-tooltip="{{twodsix_invertSkillRollShiftClick}}">{{item.name}}</span>
                <input style="width: 3ch;" class= "item-value-edit" type="number" value="{{item.system.value}}"/>
              </span>
              {{#if ../settings.hideUntrainedSkills}},{{else}}{{#unless @last}},{{/unless}}{{/if}}
      {{/each_sort_item}}
      {{#if settings.hideUntrainedSkills}}
      <span class="item" data-item-id="{{untrainedSkill.id}}" draggable="false">
          <text class="item-name rollable" data-tooltip="{{twodsix_invertSkillRollShiftClick}}"> {{untrainedSkill.name}}</text>
          <input style="width: 3ch;" class="item-value-edit" type="number" value= "{{untrainedSkill.system.value}}" readonly/>
      </span>
      {{/if}}
      </div>
      {{/unless}}
    </div>
    <div class="npc-armor">
      <span class="item-title-npc">{{localize "TWODSIX.Actor.Items.Armor"}}</span>
      {{#unless limited}}
      <div style="margin-left: 1ch">
        <span >
         {{#each_sort_item container.armor as |item id|}}
            <span class="item" data-item-id="{{item.id}}">
              <span class="item-name rollable">{{item.name}} </span>
              <span class="item-controls centre">
                <a class="item-control item-toggle {{item.system.equipped}}" data-tooltip='{{item.system.equipped}}'><i class="fa-solid fa-child-reaching"></i><i class="fa-solid fa-shuttle-space"></i><i class="fa-solid fa-person-hiking"></i></a>{{#unless @last}}, {{/unless}}
              </span>
            </span>
         {{/each_sort_item}}
        </span>
      </div>
      {{/unless}}
    </div>
    <div class="npc-weapons">
      <span class="item-title-npc">{{localize "TWODSIX.Actor.Items.Weapons"}}</span>
      {{#unless limited}}
      <div style="margin-left: 1ch">
        <span >
         {{#each_sort_item container.weapon as |item id|}}
            <span class="item" data-item-id="{{item.id}}">
              <span class="item-name perform-attack" data-tooltip="{{twodsix_invertSkillRollShiftClick}}" data-label="{{item.name}}">{{item.name}}</span>&dash;<span class="item-name centre roll-damage orange">{{twodsix_limitLength item.system.damage 4}}</span>
              {{#each item.system.consumableData as |consumableData|}}
              {{> "systems/twodsix/templates/actors/parts/actor/actor-npc-consumable.html" consumableData}}{{/each}}{{#unless @last}}, {{/unless}}
            </span>
         {{/each_sort_item}}
        </span>
      </div>
      {{/unless}}
    </div>
    <div class="npc-traits">
      <span class="item-title-npc">{{localize "TWODSIX.Actor.Items.Traits"}}</span>
      {{#unless limited}}
      <div style="margin-left: 1ch">
        <span >
         {{#each_sort_item container.trait as |item id|}}
            <span class="item" data-item-id="{{item.id}}">
              <span class="item-name showChat">{{item.name}} </span>
              <span class="item-name centre">{{item.system.value}}</span>{{#unless @last}}, {{/unless}}
            </span>
         {{/each_sort_item}}
        </span>
      </div>
      {{/unless}}
    </div>

    {{#if settings.showSpells}}
    <div class="npc-spells">
      <span class="item-title-npc">{{localize "TWODSIX.Actor.Items.Spells"}}</span>
      {{#unless limited}}
      <div style="margin-left: 1ch">
        <span >
        {{#each_sort_item container.spell as |item id|}}
            <span class="item" data-item-id="{{item.id}}">
              <span class="item-name showChat">{{item.name}} </span>
              <span class="item-name centre rollable">{{item.system.value}}</span>{{#unless @last}}, {{/unless}}
            </span>
        {{/each_sort_item}}
        </span>
      </div>
      {{/unless}}
    </div>
    {{/if}}
  </div>
</form>
