<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="npc-content-container">
    <div class="npc-name-photo">
      <div class="character-photo npc">
        <img class="profile-img" src="{{actor.img}}" {{#unless limited}}data-edit="img"{{/unless}} title="{{actor.name}}" alt='{{localize "TWODSIX.Actor.CharacterImage"}}'/>
      </div>
      <div class="character-name npc" style="width: 100% !important; height: 26px !important;"><input name="name" type="text" value="{{actor.name}}" placeholder='{{localize "TWODSIX.Actor.CharacterName"}}'
                                         onClick="this.select();"/></div>
    </div>
    {{#unless limited}}
    <div class="npc-bgi-stats">
      <div class="character-bgi-npc">
          {{> "systems/twodsix/templates/actors/parts/actor/actor-bgi-cd.html"}}
      </div>
      <table class="stat-table">
        {{> "systems/twodsix/templates/actors/parts/actor/actor-characteristics-table.html"}}
      </table>
    </div>
    {{/unless}}
    <div class="npc-notes-container">
      <span class="item-title-npc">{{localize "TWODSIX.Actor.Notes.Notes"}}</span>
      <div contenteditable="true" data-edit="data.notes" style="height: 90%; border-radius: 0 0 2ch 2ch !important; overflow-y: auto">{{{data.notes}}}</div>
    </div>
    <div class="npc-skills">
      <span class="item-title-npc">{{localize "TWODSIX.Actor.Tabs.Skills"}}</span>
      <div style="margin-left: 1ch;">
        <span class="item" data-item-id="{{joat-skill-input}}" >
            <span class="item-name" >{{localize "TWODSIX.Actor.Skills.JOAT"}}</span>
            <input type="number" value="{{jackOfAllTrades}}" id="joat-skill-input" style="text-align: center; width: 3ch;"/>,
        </span>
      {{#each_sort_by_name data.skills as |item id|}}
        {{#if (twodsix_hideUntrainedSkills item.data.data)}}
          <!-- Hiding {{item.name}} -->
        {{else}}
          {{#if (twodsix_filterSkills item)}}
              <span class="item" data-item-id="{{item.id}}" style = "display: inline-block;">
                <span class="item-name rollable" data-label="{{item.name}}" title="{{twodsix_invertSkillRollShiftClick}}">{{item.name}}</span>
                <input style="width: 3ch;" class= "item-value-edit" type="number" value="{{item.data.data.value}}"/>,
              </span>
          {{/if}}
       {{/if}}
      {{/each_sort_by_name}}
      {{#if (twodsix_hideUntrainedSkills -1)}}
      <span class="item" data-item-id="{{untrainedSkill.id}}">
          <text class="item-name rollable" title="{{twodsix_invertSkillRollShiftClick}}"> {{untrainedSkill.name}}</text>
          <input style="width: 3ch;" class="item-value-edit" type="number" value= "{{untrainedSkill.data.data.value}}" readonly/>
      </span>
      {{/if}}
    </div>
    </div>
    <div class="npc-armor">
      <span class="item-title-npc">{{localize "TWODSIX.Actor.Items.Armor"}}</span>
      <div style="margin-left: 1ch">
        <span >
         {{#each_sort_by_name data.armor as |item id|}}
            <span class="item" data-item-id="{{item.id}}">
              <span class="item-name">{{item.name}} </span>
              <span class="item-controls centre">
                <a class="item-control item-toggle {{item.data.data.equipped}}" title='{{item.data.data.equipped}}'><i class="fas fa-child"></i><i class="fas fa-space-shuttle"></i><i class="fas fa-hiking"></i></a>{{#unless @last}}, {{/unless}}
              </span>
            </span>
         {{/each_sort_by_name}}
        </span>
      </div>
    </div>
    <div class="npc-weapons">
      <span class="item-title-npc">{{localize "TWODSIX.Actor.Items.Weapons"}}</span>
      <div style="margin-left: 1ch">
        <span >
         {{#each_sort_by_name data.weapon as |item id|}}
            <span class="item" data-item-id="{{item.id}}">
              <span class="item-name perform-attack" title="{{twodsix_invertSkillRollShiftClick}}" data-label="{{item.name}}">{{item.name}}</span>
              {{#each item.data.data.consumableData as |consumableData|}}
              {{> "systems/twodsix/templates/actors/parts/actor/actor-npc-consumable.html" consumableData}}{{/each}}{{#unless @last}}, {{/unless}}
            </span>
         {{/each_sort_by_name}}
        </span>
      </div>
    </div>

    <div class="npc-traits">
      <span class="item-title-npc">{{localize "TWODSIX.Actor.Items.Traits"}}</span>
      <div style="margin-left: 1ch">
        <span >
         {{#each_sort_by_name data.traits as |item id|}}
            <span class="item" data-item-id="{{item.id}}">
              <span class="item-name showChat">{{item.name}} </span>
              <span class="item-name centre">{{item.data.data.value}}</span>{{#unless @last}}, {{/unless}}
            </span>
         {{/each_sort_by_name}}
        </span>
      </div>
    </div>
  </div>
</form>
