<form class="{{cssClass}} flexcol" autocomplete="off">
  {{#unless (twodsix_useFoundryStyle)}}
    <img class="ship-mask-bg" src="./systems/twodsix/assets/ship/Interface-Overlay-2.svg" alt="?"/>
  {{/unless}}
  <div class="ship-container">
    <div class="ship-image">
      <img class= "profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" alt='{{localize "TWODSIX.Actor.ShipImage"}}'/>
    </div>
    {{#iff data.data.deckPlan "!==" ""}}
    <div class="ship-deck">
      <a class="ship-deck-link" rel="bookmark">{{localize "TWODSIX.Ship.Deckplan"}}</a>
      <a class="item-control ship-deck-unlink" title='{{localize "TWODSIX.Actor.Items.DeleteItem"}}'><i class="fas fa-trash"></i></a>
    </div>
    {{/iff}}
    <div class="ship-name">
      <input name="name" type="text" value="{{actor.name}}" placeholder='{{localize "TWODSIX.Actor.CharacterName"}}' onClick="this.select();"/>
    </div>
    {{#unless limited}}
    <div class="ship-info">
      {{> "systems/twodsix/templates/actors/parts/ship/ship-state-grid.html"}}
    </div>
    <div class="ship-power-management">
    {{#if (twodsix_showWeightUsage)}}
    <h3>{{localize "TWODSIX.Ship.PowerWeightManagement"}}</h3>
    {{else}}
    <h3>{{localize "TWODSIX.Ship.PowerManagement"}}</h3>
    {{/if}}
      <div class="ship-power"><label>{{localize "TWODSIX.Ship.Power"}}</label>
        <span class="power-now">{{localize "TWODSIX.Ship.USED"}}</span>
        {{#iff data.data.shipStats.power.value '>' data.data.shipStats.power.max}}
          <input {{#if (autoCalcStats)}}readonly{{/if}} class="power-current red" id="ship-stat-red" type="number" value="{{data.data.shipStats.power.value}}" name="data.shipStats.power.value" placeholder="0"/>
        {{else}}
          <input {{#if (autoCalcStats)}}readonly{{/if}} class="power-current" type="number" value="{{data.data.shipStats.power.value}}" name="data.shipStats.power.value" placeholder="0"/>
        {{/iff}}
        <input {{#if (autoCalcStats)}}readonly{{/if}} class="power-total" type="number" value="{{data.data.shipStats.power.max}}" name="data.shipStats.power.max" placeholder="0"/><span class="power-max">{{localize "TWODSIX.Ship.MAX"}}</span>
      </div>
      <div class="power-grid">
        {{#if (twodsix_showWeightUsage)}}
          <div class="ship-stat"><label>{{localize "TWODSIX.Ship.Systems"}}</label><input {{#if (autoCalcStats)}}readonly{{/if}} type="number" value="{{data.data.weightStats.systems}}" name="data.weightStats.systems" /><span class = "small-font">{{localize "TWODSIX.Ship.tons"}}</span></div>
          <div class="ship-stat"><label>{{localize "TWODSIX.Ship.Cargo"}}</label><input {{#if (autoCalcStats)}}readonly{{/if}} type="number" value="{{data.data.weightStats.cargo}}" name="data.weightStats.cargo" /><span class = "small-font">{{localize "TWODSIX.Ship.tons"}}</span></div>
          <div class="ship-stat"><label>{{localize "TWODSIX.Ship.Fuel"}}</label><input {{#if (autoCalcStats)}}readonly{{/if}} type="number" value="{{data.data.weightStats.fuel}}" name="data.weightStats.fuel" /><span class = "small-font">{{localize "TWODSIX.Ship.tons"}}</span></div>
          <div class="ship-stat"><label>{{localize "TWODSIX.Ship.Vehicles"}}</label><input {{#if (autoCalcStats)}}readonly{{/if}} type="number" value="{{data.data.weightStats.vehicles}}" name="data.weightStats.vehicles" /><span class = "small-font">{{localize "TWODSIX.Ship.tons"}}</span></div>
          {{#iff data.data.weightStats.available '>=' 0}}
            <div class="ship-stat">{{localize "TWODSIX.Ship.Avail"}}<input type="number" {{#if (autoCalcStats)}}readonly{{/if}} value="{{data.data.weightStats.available}}" name="data.weightStats.available" ><span class = "small-font">{{localize "TWODSIX.Ship.tons"}}</span></div>
          {{else}}
            <div class="ship-stat red">{{localize "TWODSIX.Ship.Avail"}}<input id="ship-stat-red" type="number" {{#if (autoCalcStats)}}readonly{{/if}} value="{{data.data.weightStats.available}}" name="data.weightStats.available" ><span class = "small-font">{{localize "TWODSIX.Ship.tons"}}</span></div>
          {{/iff}}
        {{else}}
          <div class="ship-stat"><label>{{localize "TWODSIX.Ship.Systems"}}</label><input {{#if (autoCalcStats)}}readonly{{/if}} type="number" value="{{data.data.reqPower.systems}}" name="data.reqPower.systems" /><span class = "small-font">{{localize "TWODSIX.Ship.PP"}}</span></div>
          <div class="ship-stat"><label>{{localize "TWODSIX.Ship.MDrive"}}</label><input {{#if (autoCalcStats)}}readonly{{/if}} type="number" value="{{data.data.reqPower.m-drive}}" name="data.reqPower.m-drive" /><span class = "small-font">{{localize "TWODSIX.Ship.PP"}}</span></div>
          <div class="ship-stat"><label>{{localize "TWODSIX.Ship.JDrive"}}</label><input {{#if (autoCalcStats)}}readonly{{/if}} type="number" value="{{data.data.reqPower.j-drive}}" name="data.reqPower.j-drive" /><span class = "small-font">{{localize "TWODSIX.Ship.PP"}}</span></div>
          <div class="ship-stat"><label>{{localize "TWODSIX.Ship.Sensors"}}</label><input {{#if (autoCalcStats)}}readonly{{/if}} type="number" value="{{data.data.reqPower.sensors}}" name="data.reqPower.sensors" /><span class = "small-font">{{localize "TWODSIX.Ship.PP"}}</span></div>
          <div class="ship-stat">{{localize "TWODSIX.Ship.Weapons"}}<input type="number" {{#if (autoCalcStats)}}readonly{{/if}} value="{{data.data.reqPower.weapons}}" name="data.reqPower.weapons" ><span class = "small-font">{{localize "TWODSIX.Ship.PP"}}</span></div>
        {{/if}}
      </div>
    </div>
    {{/unless}}
  </div>
  {{#unless limited}}
  {{!-- Sheet Body --}}
  <div class="ship-tabs-info sheet-body">

    {{!-- Sheet Tab Navigation --}}
    <div class="ship-tabs">
      <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item ship-positions-tab" data-tab="ship-positions"><i class="fas fa-street-view"></i><br>{{localize "TWODSIX.Ship.Tabs.ShipPositions"}}</a>
        <a class="item ship-crew-tab" data-tab="ship-crew"><i class="fas fa-users"></i><br>{{localize "TWODSIX.Ship.Tabs.Crew"}}</a>
        <a class="item ship-component-tab" data-tab="ship-component"><i class="fas fa-cogs"></i><br>{{localize "TWODSIX.Ship.Tabs.Components"}}</a>
        <a class="item ship-storage-tab" data-tab="ship-storage"><i class="fas fa-warehouse"></i><br>{{localize "TWODSIX.Ship.Tabs.Locker"}}</a>
        <a class="item ship-cargo-tab" data-tab="ship-cargo"><i class="fas fa-boxes"></i><br>{{localize "TWODSIX.Ship.Tabs.Cargo"}}</a>
        <a class="item ship-finance-tab" data-tab="ship-finance"><i class="fas fa-coins"></i><br>{{localize "TWODSIX.Ship.Tabs.Finance"}}</a>
        <a class="item ship-notes-tab" data-tab="ship-notes"><i class="far fa-clipboard"></i><br>{{localize "TWODSIX.Ship.Tabs.Notes"}}</a>
      </nav>
    </div>

    {{!-- Ship Position Tab --}}
    <div class="tab ship-positions" data-group="primary" data-tab="ship-positions">
      {{> "systems/twodsix/templates/actors/parts/ship/ship-positions.html"}}
    </div>

    {{!-- Crew Tab --}}
    <div class="tab ship-crew" data-group="primary" data-tab="ship-crew">
      {{> "systems/twodsix/templates/actors/parts/ship/ship-crew.html"}}
    </div>

    {{!-- Component Tab --}}
    <div class="tab ship-component" data-group="primary" data-tab="ship-component">
      {{#if settings.showSingleComponentColumn}}
        {{> "systems/twodsix/templates/actors/parts/ship/ship-components-single.html"}}
      {{else}}
        {{> "systems/twodsix/templates/actors/parts/ship/ship-components-double.html"}}
      {{/if}}
    </div>

    {{!-- Storage Tab --}}
    <div class="tab ship-storage" data-group="primary" data-tab="ship-storage">
        {{> "systems/twodsix/templates/actors/parts/ship/ship-storage.html"}}
    </div>

    {{!-- Cargo Tab --}}
    <div class="tab ship-cargo" data-group="primary" data-tab="ship-cargo">
      {{> "systems/twodsix/templates/actors/parts/ship/ship-cargo.html"}}
    </div>

    {{!-- Finance Tab --}}
    <div class="tab ship-finance" data-group="primary" data-tab="ship-finance">
      {{> "systems/twodsix/templates/actors/parts/ship/ship-finance.html"}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab ship-notes" data-group="primary" data-tab="ship-notes">
      {{> "systems/twodsix/templates/actors/parts/ship/ship-notes.html"}}
    </div>
  </div>
  {{/unless}}
</form>
