<form class="{{cssClass}} flexcol" autocomplete="off">
  <img class="ship-mask-bg" src="./systems/twodsix/assets/ship/Interface-Overlay-2.svg" alt="?"/>
  <div class="ship-container">
    <div class="ship_image">
      <img class="ship-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" alt='{{localize "TWODSIX.Actor.ShipImage"}}'/>
    </div>
    <div class="ship-name">
      <input name="name" type="text" value="{{actor.name}}" placeholder='{{localize "TWODSIX.Actor.CharacterName"}}' onClick="this.select();"/>
    </div>
    {{#unless limited}}
    <div class="ship-info">
      <div class="ship-state-grid">
        <div class="ship-hull"><span>Ship Hull</span><input type="number" value="{{data.shipStats.hull.value}}" name="data.shipStats.hull.value" placeholder="0"/>
          <input type="number" value="{{data.shipStats.hull.max}}" name="data.shipStats.hull.max" placeholder="0"/></div>
        <div class="ship-fuel"><span>Fuel</span><input type="number" value="{{data.shipStats.fuel.value}}" name="data.shipStats.fuel.value" placeholder="0"/>
          <input type="number" value="{{data.shipStats.fuel.max}}" name="data.shipStats.fuel.max" placeholder="0"/></div>
        <div class="ship-maintenance"><span>Maintenance P/M</span>
          <input type="number" value="{{data.maintenanceCost}}" name="data.maintenanceCost" placeholder="0"/>
        </div>

      </div>
    </div>
    <div class="ship-power-management"><h3>Power Management</h3>
      <div class="ship-power"><label>Power</label>
        <span class="power-now">USED</span>
        <input class="power-current" type="number" value="{{data.shipStats.power.value}}" name="data.shipStats.power.value" placeholder="0"/>
        <input class="power-total" type="number" value="{{data.shipStats.power.max}}" name="data.shipStats.power.max" placeholder="0"/><span class="power-max">MAX</span>
      </div>
      <div class="power-grid">
        <div class="ship-systems"><label>Systems</label><input type="number" value="{{data.reqPower.systems}}" name="data.reqPower.systems" placeholder="0"/></div>
        <div class="ship-m-drive"><label>M-Drive</label><input type="number" value="{{data.reqPower.m-drive}}" name="data.reqPower.m-drive" placeholder="0"/></div>
        <div class="ship-j-drive"><label>J-Drive</label><input type="number" value="{{data.reqPower.j-drive}}" name="data.reqPower.j-drive" placeholder="0"/></div>
        <div class="ship-sensors"><label>Sensors</label><input type="number" value="{{data.reqPower.sensors}}" name="data.reqPower.sensors" placeholder="0"/></div>
        <div class="ship-weapons">Weapons<input type="number" value="{{data.reqPower.weapons}}" name="data.reqPower.weapons" placeholder="0"></div>
      </div>
    </div>
    {{/unless}}
  </div>
  {{#unless limited}}
  {{!-- Sheet Body --}}
  <div class="ship-tabs-info sheet-body">

    {{!-- Sheet Tab Navigation --}}
    <div class="ship-tabs">
      <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item ship-crew-tab" data-tab="ship-crew">Crew</a>
        <a class="item ship-storage-tab" data-tab="ship-storage">Locker</a>
        <a class="item ship-cargo-tab" data-tab="ship-cargo">Cargo</a>
        <a class="item ship-notes-tab" data-tab="ship-notes">Notes</a>
      </nav>
    </div>

    {{!-- Crew Tab --}}
    <div class="tab ship-crew" data-group="primary" data-tab="ship-crew">
      {{> "systems/twodsix/templates/actors/parts/ship/ship-crew.html"}}
    </div>

    {{!-- Storage Tab --}}
    <div class="tab ship-storage" data-group="primary" data-tab="ship-storage">
      {{> "systems/twodsix/templates/actors/parts/ship/ship-storage.html"}}
    </div>

    {{!-- Cargo Tab --}}
    <div class="tab ship-cargo" data-group="primary" data-tab="ship-cargo">
      {{> "systems/twodsix/templates/actors/parts/ship/ship-cargo.html"}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab ship-notes" data-group="primary" data-tab="ship-notes">
      {{> "systems/twodsix/templates/actors/parts/ship/ship-notes.html"}}
    </div>
  </div>
  {{/unless}}
</form>
