<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="vehicle-content-container">
    <div class="vehicle-name-photo">
      <div class="vehicle-photo">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" alt='{{localize "TWODSIX.Actor.CharacterImage"}}'/>
      </div>
      <div class="vehicle-name"><input name="name" type="text" value="{{actor.name}}" placeholder='{{localize "TWODSIX.Actor.CharacterName"}}'
                                         onClick="this.select();"/></div>
      {{#if (twodsix_showReferences)}}
      <div class="item-reference">
        <a class="open-link">{{localize "TWODSIX.Items.DocumentReference"}}</a>
        <input class="form-input" id="source" type="text" name="data.docReference" value="{{data.data.docReference}}"/>
      </div>
      {{/if}}
    </div>
    <div class="vehicle-stats">
      <span class="item-title-vehicle">Stats</span>
        <span class="single-line vehicle-inset">{{localize "TWODSIX.Vehicle.techLevel"}}:<input type="text" value="{{data.data.techLevel}}" name="data.techLevel"/></span>
        <span class="single-line vehicle-inset">{{localize "TWODSIX.Vehicle.Weight"}}: <input type="text" value="{{data.data.weight}}" name="data.weight"/></span>
        <span class="single-line vehicle-inset">{{localize "TWODSIX.Vehicle.Cost"}}:<input type="text" value="{{data.data.cost}}" name="data.cost"/></span>
      <fieldset class="vehicle-inset">
        <legend>{{localize "TWODSIX.Vehicle.Movement"}}</legend>
        <span class="single-line">{{localize "TWODSIX.Vehicle.Speed"}}:<input type="text" value="{{data.data.maneuver.speed}}" name="data.maneuver.speed"/>{{#unless settings.showRangeSpeedNoUnits}}<input type="text" value="{{data.data.maneuver.speedUnits}}" name="data.maneuver.speedUnits"/>{{/unless}}</span>
        <span class="single-line">{{localize "TWODSIX.Vehicle.Range"}}:<input type="text" value="{{data.data.maneuver.range}}" name="data.maneuver.range"/>{{#unless settings.showRangeSpeedNoUnits}}<input  type="text" value="{{data.data.maneuver.rangeUnits}}" name="data.maneuver.rangeUnits"/>{{/unless}}</span>
        <span class="single-line">{{localize "TWODSIX.Vehicle.Agility"}}:<input type="text" value="{{data.data.maneuver.agility}}" name="data.maneuver.agility"/></span>
      </fieldset>
      <fieldset class="vehicle-inset">
        <legend>{{localize "TWODSIX.Vehicle.Crew"}}</legend>
        <span class="single-line">{{localize "TWODSIX.Vehicle.crew.operators"}}: <input type="text" value="{{data.data.crew.operators}}" name="data.crew.operators"/></span>
        <span class="single-line">{{localize "TWODSIX.Vehicle.crew.passengers"}}: <input type="text" value="{{data.data.crew.passengers}}" name="data.crew.passengers"/></span>
      </fieldset>
      <span class="single-line vehicle-inset" data-label="{{data.data.skillToOperate}}"><label class="rollable orange">{{localize "TWODSIX.Vehicle.skillToOperate"}}:</label><input type="text" value="{{data.data.skillToOperate}}" name="data.skillToOperate"/></span>
    </div>
    <div class="vehicle-notes">
      <span class="item-title-vehicle">{{localize "TWODSIX.Vehicle.Cargo"}}</span>
      <span class="single-line vehicle-inset">{{localize "TWODSIX.Vehicle.CargoCapacity"}}: <input type="text" value="{{data.data.cargoCapacity}}" name="data.cargoCapacity"/></span>
      <div class="vehicle-inset">
        <span>{{localize "TWODSIX.Vehicle.CargoNotes"}}</span>
        <span class="vehicle-cargo-list">
          <textarea type="text" name="data.cargoList" value="{{data.data.cargoList}}">{{~data.data.cargoList~}}</textarea>
        </span>
        <!-- <div contenteditable="true" data-edit="data.cargoList">{{{data.data.cargoList}}}</div> -->
      </div>
    </div>
    <div class="vehicle-systems">
      <span class="item-title-vehicle">{{localize "TWODSIX.Vehicle.SystemStatus"}}</span>
      <div style="margin: 3px;">
          {{#each data.data.systemStatus as |system|}}
            <span>{{localize (concat "TWODSIX.Vehicle.systems." @key)}}
            <label class="item-name centre component-toggle" data-key="{{@key}}">
              {{#iff system "===" 'operational'}}<i class="fas fa-check-circle" style="color: green;" title='{{localize "TWODSIX.Items.Component.operational"}}'></i>{{#unless @last}}, {{/unless}}
              {{else}}
                {{#iff system "===" 'damaged'}}<i class="fas fa-exclamation-circle" style="color: yellow;" title='{{localize "TWODSIX.Items.Component.damaged"}}'></i>{{#unless @last}}, {{/unless}}
              {{else}}
                {{#iff system "===" 'destroyed'}}<i class="fas fa-times-circle" style="color: red;" title='{{localize "TWODSIX.Items.Component.destroyed"}}'></i>{{#unless @last}}, {{/unless}}
              {{else}}
                {{#iff system "===" 'off'}}<i class="fas fa-power-off" style="color: grey;" title='{{localize "TWODSIX.Items.Component.off"}}'></i>{{#unless @last}}, {{/unless}}
              {{/iff}} {{/iff}} {{/iff}} {{/iff}}
            </label>
          </span>
          {{/each}}
    </div>
    </div>
    <div class="vehicle-armor">
      <span class="item-title-vehicle">{{localize "TWODSIX.Vehicle.Protection"}}</span>
      <div class="vehicle-inset">
        <span>
          {{#iff settings.showHullAndArmor "===" 'armorHullStruc'}}
            {{> "systems/twodsix/templates/actors/parts/vehicle/vehicle-integrity-table.html"}}
          {{else iff settings.showHullAndArmor "===" 'armorOnly'}}
            <span>{{localize "TWODSIX.Vehicle.ArmorHull"}}</span>
            <span class="vehicle-armor-name">
            <textarea type="text" name="data.damageStats.armorLabel" value="{{data.data.damageStats.armorLabel}}">{{~data.data.damageStats.armorLabel~}}</textarea>
            </span>
          {{else}}
            <fieldset>
              <legend>{{localize "TWODSIX.Vehicle.Thresholds"}}</legend>
              <span class="single-line">{{localize "TWODSIX.Vehicle.Regular"}}: <input type="number" value="{{data.data.damageStats.threshold.regular}}" name="data.damageStats.threshold.regular"/></span>
              <span class="single-line">{{localize "TWODSIX.Vehicle.Critical"}}: <input type="number" value="{{data.data.damageStats.threshold.critical}}" name="data.damageStats.threshold.critical"/></span>
            </fieldset>
          {{/iff}}
          <span class="openVehicle" title='{{localize "TWODSIX.Vehicle.OpenVehicle"}}'>{{localize "TWODSIX.Vehicle.OpenVehicle"}}:
            <input type="checkbox" class="checkbox" name="data.openVehicle" {{checked data.data.openVehicle}} data-dtype="Boolean" />
          </span>
        </span>
      </div>
    </div>
    <div class="vehicle-weapons">
      <span class="item-title-vehicle">{{localize "TWODSIX.Vehicle.Weapons"}}</span>
     {{> "systems/twodsix/templates/actors/parts/vehicle/weapon-components.html"}}
    </div>
    <div class="vehicle-traits">
      <span class="item-title-vehicle">{{localize "TWODSIX.Vehicle.Traits"}}</span>
        <span class="vehicle-traits-details">
          <textarea type="text" name="data.traits" value="{{data.data.traits}}">{{~data.data.traits~}}</textarea>
        </span>
    </div>

</form>
